<ion-app>
  <app-navbar></app-navbar>
  <ion-menu side="end" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <img id="logo" src="../assets/gold-logo.svg" alt="Side menu logo">
        </ion-buttons>
        <ion-buttons (click)="closeMenu()" slot="end">
          <ion-icon slot="start" name="close"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)=closeMenu() routerLink="/home">
          <p routerLinkActive="active-link">Home</p>
        </ion-item>
        <ion-item (click)=closeMenu() routerLink="/about">
          <p routerLinkActive="active-link">About</p>
        </ion-item>
        <ion-item (click)=closeMenu() routerLink="/projects">
          <p routerLinkActive="active-link">Projects</p>
        </ion-item>
        <ion-item (click)=closeMenu() routerLink="/blog">
          <p routerLinkActive="active-link">Blog</p>
        </ion-item>
        <ion-item (click)=closeMenu() routerLink="/contact">
          <p routerLinkActive="active-link">Contact</p>
        </ion-item>
        <ion-item (click)=closeMenu() routerLink="/donate" >
          <p routerLinkActive="active-link">Donate</p>
        </ion-item>
        <ion-item *ngIf="this.userType === 'admin'"  (click)=closeMenu() routerLink="/admin">
          <p routerLinkActive="active-link">Admin</p>
        </ion-item>
        <ion-item *ngIf="this.userType === 'user'"  (click)=closeMenu() routerLink="/profile">
          <p routerLinkActive="active-link">Profile</p>
          <img style="margin-left: 1em; border-radius: 100px;" src="{{this.userPicture}}" height="40" alt="User Profile Picture">
        </ion-item>
        <ion-item *ngIf="this.userType === 'none'" (click)=closeMenu() routerLink="/login">
          <p routerLinkActive="active-link">Login</p>
        </ion-item>
        <ion-item *ngIf="this.userType === 'admin' || this.userType === 'user'" (click)=logoutConfirm()>
          <p>Logout</p>
        </ion-item>
      </ion-list>

      <ion-button id="bottom-close-button"
        (click)="closeMenu()">
        Close
      </ion-button>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
