#logo {
  position: relative;
  left: 15px;
}
#bottom-close-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  --background: #1d071f;
  --color: #d8cca8;
}
ion-header {
  box-shadow: 1px 1px 15px #0000009e;
}
ion-toolbar {
  --background: #1d071f;
}

ion-item {
  height: 50px;

  p {
    color: #d8cca8;
    font-size: 1em;
  }
  .active-link {
    color: #3df63d;
    border-left: 4px solid #3df63d;
    padding-left: 0.3em;
    font-weight: 600;
    transition: 0.5s;
  }
}
