ion-grid {
  background-image: url('../../../assets/illustrations/Matrix-Background.svg');
  background-attachment: fixed;
  background-size: cover;
  --color: white;
}
@media only screen and (max-width: 600px) {
  ion-grid {
    background-image: url('../../../assets/illustrations/Matrix-Background-Mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#landing-page-header {
  // background: linear-gradient(#F6FFFC, #EAFFF9);
  // background: linear-gradient(73.54497825384362deg, #F6FFFC 8.871497304413253%, #EAFFF9 89.69365126629889%);
  color: #0B4F3B;
  background: #0000006b;
  background-attachment: fixed;
  // background-image: url('');
  // background-attachment: fixed;
  // background-size: auto 840px;
  // box-shadow: inset -10px 10px 20px #000;
  height: 700px;
  padding: 40px;
  span {
    font-weight: 800;
  }
  h3 {
    margin: 0em 0em;
    font-size: 1.5em;
    text-align: justify;
    color: #D8A80C;
    width: 230px;
  }
  #header-info-wrapper {
    // background: #0000006b;
    border-radius: 10px;
    height: 500px;
    padding: 1em;
    position: relative;
  }
  #headshot-picture {
    width: 100px; height: 100px;
    border-radius: 50px;
    background-image: url('..//../../assets/photo.png');
    background-size: contain;
  }
  #header-name {
    color: white;
    font-size: 1.7em;
    margin-top: 1em;
    border-bottom: #BC3790 4px solid;
    padding-bottom: 10px;
  }
  ion-buttons {
    // background: #999;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    margin: 0 auto;

    .red-button {
      width: 100px;
      display: block;
      margin: 2em 0.3em;
      --background: linear-gradient(360deg, #D01801 -2%, #810b00, #D01801);
      --color: white;
      --border-radius: 50px;
      --box-shadow: none;
    }
    .green-button {
      width: 100px;
      display: block;
      margin: 2em 0.3em;
      --background: linear-gradient(360deg, #0B4F3B -2%, #041e18, #0B4F3B);
      --color: white;
      --border-radius: 50px;
      --box-shadow: none;
    }
  }
}
#header-illustration {
  background-color: blue;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  // position: relative;
  // left: 75px;
}
#services {
  height: auto;
  width: 100%;
  position: relative;
  top: -100px;
  display: flex;
  align-items: center;
  padding: 3em 0;

  .page-header {
    position: relative;
    top: -50px;
  }
  h3 {
    color: #3df63d;
  }
}
#design-icon, #development-icon, #instructing-icon {
  height: 100px;
  width: 100px;
  background: lightblue;
  margin: 0.5em auto;
}
#design-icon {

}
@media only screen and (max-width: 600px) {
  #landing-page-header {
    height: auto;
  }
  #services {
    width: 100%;
    background: #0000006b;
    padding: 3em 0;
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 1100px) {
  #landing-page-header {
    height: auto;
  }
  #headshot-picture {
    margin: 0 auto;
  }
  #header-buttons {
    margin: 0 auto;
    .gold-button {
      display: inline-block;
      height: 40px;
      width: 120px;
      margin: 1em auto;
    }
    .red-button {
      display: inline-block;
      height: 40px;
      width: 120px;
      margin: 1em auto;
    }
  }
}
@media only screen and (min-width: 1100px) {
  #header-illustration {
    height: 500px;
    width: 500px;
  }
  .page-header {
    width: 500px;
    margin: 8em auto 0em auto;
  }
}
#illustration-1 {
  background: lightcoral;
  height: 300px;
  width: 350px;
  margin: 3em auto;
  padding: 3em;
  border-radius: 5px;

  p {
    padding: 25px 0px;
    font-size: 1em;
    line-height: 1.2em;
  }
}

// Latest Blogs
.latest-blogs {
  // background: #f7f7f7;
  height: auto;
  padding: 1em 0;
  margin: 0;
  // padding: 40px;

  ion-toolbar > ion-buttons > .gold-button {
    width: 150px;
    display: block;
    margin: 30px 0;
    --background: linear-gradient(360deg, #D3B900 -2%, #87780a, #D3B900);
    --color: white;
    --border-radius: 50px;
    --box-shadow: none;
  }
}
.blog-post {
  height: auto;
  background: #f9f9f9f2;
  padding: 25px;
  transition: 0.5s;
  margin: 2em 0;
  border-radius: 10px;
  border-left: 16px solid #00c400;
  display: flex;
  align-items: center;

  .green-button {
    margin: 0;
  }

  .blog-info {
    display: inline-block;
  }
  .blog-thumbnail {
    height: 100px;
    margin-right: 2.5em;
  }
  .blog-date {
    color: #999;
    margin: 0 0;
    opacity: 0.6;
  }
  .blog-title {
    margin: 0 0;
    color: #333;
  }
  .blog-hashtags {
    margin: 0 0;
    color: #2B50C8;
  }
  .view-page-button {

  }
}
@media only screen and (max-width: 600px) {
  .blog-post {
    .blog-thumbnail {
      height: 60px;
      margin-right: 0.75em;
    }
    .green-button {
      margin-top: 3em;
    }
  }
}

.blog-post:hover {
  margin: 2.3em 0;
  background: white;
  border-left: 16px solid #BC3790;
}

// Latest Project
.latest-projects {
  // background: #222;
  height: auto;
  padding: 1em 0;
  margin: 0;

  ion-toolbar > ion-buttons > .gold-button {
    width: 150px;
    display: block;
    margin: 30px 0;
    --background: linear-gradient(360deg, #D3B900 -2%, #87780a, #D3B900);
    --color: white;
    --border-radius: 50px;
    --box-shadow: none;
  }

  .project-post:hover {
    margin: 2.3em 0;
    border-left: 16px solid #BC3790;
  }

  h2 {
    color: white;
    font-size: 3em;
    margin: 2em 0;
    border-bottom: 2px solid white;
    padding-bottom: 0.5em;
  }
  .logo {
    background: blue;
    height: 400px;
  }
  .description {
    // background: #222;
    box-shadow: 1px 1px 28px #161616;
    border-radius: 15px;
    height: 400px;
  }
  // padding: 40px;
}
.project-post {
  height: auto;
  background: #F9F9F9;
  padding: 25px;
  transition: 0.5s;
  margin: 2em 0;
  border-radius: 10px;
  border-left: 16px solid #00c400;
  display: flex;
  align-items: center;

  .green-button {
    margin: 0;
  }

  .project-info {
    display: inline-block;
  }
  .project-thumbnail {
    height: 100px;
    margin-right: 2.5em;
  }
  .project-date {
    color: #999;
    margin: 0 0;
    opacity: 0.6;
  }
  .project-title {
    margin: 0 0;
    color: #333;
  }
  .project-hashtags {
    margin: 0 0;
    color: #2B50C8;
  }
  .view-project-button {

  }
}

@media only screen and (max-width: 600px) {
  .project-post {
    .project-thumbnail {
      height: 60px;
      margin-right: 0.75em;
    }
    .green-button {
      margin-top: 3em;
    }
  }
}

// Footer Game

#footer {
  background: #0b4f3b73;
  height: 600px;
  margin-top: 4em;
  padding: 6em 0em 3em 0em;

  #footer-logo {
    width: 100px;
  }
  #footer-buttons {
    width: 150px;
    display: inline-block;
  }
  .footer-hr {
    border-top: 5px solid #D3B900;
    opacity: 0.4;
    padding: 0;
    width: 150px;
  }
  #social-media {
    margin-bottom: 1em;
  }
}

.bottom-curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
ion-toolbar {
  --background: #ffffff17;
  padding: 0.2em 1em;
  border-radius: 5px;
}
.section-header{
  font-size: 1.6em;
  padding: 0;
  color: #D3B900;
}

// PWA Install
#download-button {
  transition: 0.5s;
  padding: 1.1em;
  border-radius: 50px;
  width: 200px;
  display: none;
  background: linear-gradient(73.54497825384362deg, rgba(0, 199, 66,1) 8.871497304413253%,rgba(61, 173, 98,1) 89.69365126629889%,rgba(62, 173, 99,1) 89.69365126629889%)
  ;
  color: white;
  font-size: 1.3em;
  font-weight: 800;
  z-index: 9999;
  margin: 0 auto 90px auto;
}

#iphone-install-banner {
  display: none;
  text-align: center;
  background-color: rgb(238, 238, 255);
  z-index: 999;
  width: 100%;
  padding: 4.5em 2em;
  position: fixed;
  bottom: 0;
  animation: slide-up 0.5s ease forwards;
  -webkit-animation: slide-up 0.5s ease forwards;
  -moz-animation: slide-up 0.5s ease forwards;

  .action-icon {
    height: 30px;
    margin: 0 0.5em;
  }

  #close {
    color: white;
    padding: 0.4em;
    margin: 40px auto 0px auto;
    width: 100px;
    height: 40px;
    font-size: 1em;
    background: #bb3690;
    padding: 0.6em;
    border-radius: 5px;
    display: block;
  }
  #close-2 {
    color: white;
    padding: 0.4em;
    margin: 40px auto 0px auto;
    width: 100px;
    height: 40px;
    font-size: 1em;
    background: #bb3690;
    padding: 0.6em;
    border-radius: 5px;
    display: block;
  }
}

#open-safari-banner {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  display: none;
  text-align: center;
  background-color: rgb(238, 238, 255,);
  z-index: 999;
  width: 100%;
  font-size: 1.1em;
  padding: 3.5em 2em;
  position: fixed;
  bottom: 0;
  animation: slide-up 0.5s ease forwards;
  -webkit-animation: slide-up 0.5s ease forwards;
  -moz-animation: slide-up 0.5s ease forwards;
}

#safari-button {
    color: white;
    padding: 0.4em;
    margin: 40px auto 0px auto;
    width: 100px;
    height: 40px;
    font-size: 1em;
    background: #bb3690;
    padding: 0.6em;
    border-radius: 5px;
    display: block;
}

#safari-logo {
  height: 50px;
  width: 50px;
  margin: 20px auto 0 auto;
}

// Media Queries
@media only screen and (min-width: 1090px) {
  .home-page-illustration-1 {
    height: 800px;
  }

  .about {
    // background: lightcoral;
    height: 550px;
  }

  .lastest-blogs {
    padding: 0px 180px;
  }
}
@media only screen and (max-width: 1000px) {
  .home-page-illustration-1 {
    height: auto;

    .header-illustration {
      margin-top: 2em;
      background-color: azure;
      height: 400px;
      width: 350px;
      position: relative;
      left: 0px;
    }
  }
}
@media only screen and (max-width: 420px) {
  .home-page-illustration-1 {
    padding: 0px;

    .header-illustration {
      width: 100%;
      background-color: lightsalmon;
    }
  }
}
@keyframes slide-up {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes slide-up {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

// For CSS Typing Animation in Header
.css-typing h1 {
  border-right: .15em solid #E8B923;
  font-family: Ayuthaya;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}
.css-typing h1 {
  width: 100%;
  opacity: 0;
  -webkit-animation: type2 1s steps(1000, end);
  animation: type2 1s steps(1000, end);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing h1:nth-child(1) {
  width: 22.3em;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.css-typing h1:nth-child(2) {
  width: 5.3em;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.css-typing h1:nth-child(3) {
  width: 5.3em;
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}
.css-typing h1:nth-child(4) {
  width: 8em;
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
}
.css-typing h1:nth-child(5) {
  width: 10.3em;
  font-weight: 800;
  margin-top: 50px;
  opacity: 0;
  -webkit-animation: type3 1s steps(1000, end), blink .5s step-end infinite alternate;
  animation: type3 1s steps(1000, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

}
@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}
@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}