<ion-content>
  <ion-grid>
    <div id="iphone-install-banner">
      <p>Install this App on your iPhone.</p>
      <p>Tap <span><img class="action-icon" src="../../../assets/icons/photo.png" alt="" srcset=""></span>then <b>Add to HomeScreen</b>
        <button id="close">Close</button></p>
    </div>
    <div id="open-safari-banner">
      <img style="margin: 20px auto" height="70" src="../../../assets/icons/safari.svg"><p>In order to download this app to your iPhone's Homescreen, you need to download it with <b>Safari</b>.  Open Safari, return to this page, then tap the Download button.</p><button id="open-safari-close" style="background: #bb3690; font-weight: 800; font-size: 1em; color: white; padding: 0.4em; margin: 40px auto 0px auto; width: 100px; height: 40px; border-radius: 5px;">Close</button>
    </div>

    <!-- Landing Page Header -->
    <ion-row id="landing-page-header" class="ion-justify-content-right" style="margin-top: 55px">
          <ion-col class="ion-hide-lg-down ion-text-center" size-xs="12" size-sm="11" size-md="10" size-lg="8">
            <app-header-illustration></app-header-illustration>
          </ion-col>
          <ion-col size-xs="12" size-sm="11" size-md="7" size-lg="4">
           <div id="header-info-wrapper">
            <div id="headshot-picture"></div>
            <h3 id="header-name">Eddie Taliaferro II</h3>
            <h3>Designer.</h3>
            <h3>Engineer.</h3>
            <h3>Instructor.</h3>
           <div id="header-buttons">
            <ion-buttons slot="end">
              <ion-button class="red-button" (click)="donatePage()">
                Donate
              </ion-button>
              <ion-button class="green-button" (click)="contactPage()">
                Contact
              </ion-button>
            </ion-buttons>
           </div>
           </div>
          </ion-col>
    </ion-row>

    <!-- Curve Under Header-->
    <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" preserveAspectRatio="none" viewBox="0 0 1680 40" class="bottom-curve" style="position: relative;
    top: -128px;"><path d="M0 40h1680V30S1340 0 840 0 0 30 0 30z" fill="#333"></path></svg> -->
    <ion-row id="services" class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="10">
        <h1 class="page-header">What do I do?</h1>
      </ion-col>
      <ion-col class="ion-text-center service-card" size-xs="11" size-sm="10" size-md="8" size-lg="3">
            <div id="design-icon"></div>
            <h3>UI / UX / Graphic Design</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium ut dolor iste rerum quos amet odit ad omnis voluptatibus totam? Laudantium autem repudiandae dolore ipsum similique aut mollitia eius eligendi.</p>
      </ion-col>
      <ion-col class="ion-text-center service-card" size-xs="11" size-sm="10" size-md="8" size-lg="3">
            <div id="development-icon"></div>
            <h3>Web Development</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium ut dolor iste rerum quos amet odit ad omnis voluptatibus totam? Laudantium autem repudiandae dolore ipsum similique aut mollitia eius eligendi.</p>
      </ion-col>
      <ion-col class="ion-text-center service-card" size-xs="11" size-sm="10" size-md="8" size-lg="3">
            <div id="instructing-icon"></div>
            <h3>Instructing</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium ut dolor iste rerum quos amet odit ad omnis voluptatibus totam? Laudantium autem repudiandae dolore ipsum similique aut mollitia eius eligendi.</p>
      </ion-col>
    </ion-row>
    <!-- Service -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="12">
        <div id="illustration-1"></div>
      </ion-col>
    </ion-row>

    <!-- Latest Blog Posts -->
    <ion-row class="latest-blogs ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="7">
        <ion-toolbar>
          <h1 class="section-header" slot="start">Latest Blog Posts</h1>
          <ion-buttons slot="end">
            <ion-button class="gold-button" routerlink="/blog">
              View All
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <hr class="line">
        <!-- Delete 2 "blog-post" after back-end intergration. -->
        <!-- Render the most recent 3 last blog post dynamically. -->
        <ion-row class="blog-post">
          <ion-col size-xs="2" size-sm="2" size-lg="2">
            <img src="../../../assets/gold-logo.svg" alt="Blog Post Thumbnail" class="blog-thumbnail">
          </ion-col>
          <ion-col size-xs="10" size-sm="10" size-lg="7" class="blog-info">
            <h5 class="blog-date">Date</h5>
            <h1 class="blog-title">Title</h1>
            <h6 class="blog-hashtags">#Hashtags</h6>
          </ion-col>
          <ion-col size-xs="11" size-sm="11" size-lg="3" class="view-page-button ion-text-center">
            <ion-button class="purple-button" (click)="viewBlogPage()">
              View Blog
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="blog-post">
          <ion-col size-xs="2" size-sm="2" size-lg="2">
            <img src="../../../assets/gold-logo.svg" alt="Blog Post Thumbnail" class="blog-thumbnail">
          </ion-col>
          <ion-col size-xs="10" size-sm="10" size-lg="7" class="blog-info">
            <h5 class="blog-date">Date</h5>
            <h1 class="blog-title">Title</h1>
            <h6 class="blog-hashtags">#Hashtags</h6>
          </ion-col>
          <ion-col size-xs="11" size-sm="11" size-lg="3" class="view-page-button ion-text-center">
            <ion-button class="purple-button" (click)="viewBlogPage()">
              View Blog
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="blog-post">
          <ion-col size-xs="2" size-sm="2" size-lg="2">
            <img src="../../../assets/gold-logo.svg" alt="Blog Post Thumbnail" class="blog-thumbnail">
          </ion-col>
          <ion-col size-xs="10" size-sm="10" size-lg="7" class="blog-info">
            <h5 class="blog-date">Date</h5>
            <h1 class="blog-title">Title</h1>
            <h6 class="blog-hashtags">#Hashtags</h6>
          </ion-col>
          <ion-col size-xs="11" size-sm="11" size-lg="3" class="view-page-button ion-text-center">
            <ion-button class="purple-button" (click)="viewBlogPage()">
              View Blog
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

     <!-- Latest Projects -->
     <ion-row class="latest-projects ion-justify-content-center" style="margin-top: 10em;">
      <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="7">
        <ion-toolbar>
          <h1 class="section-header" slot="start">Latest Projects</h1>
          <ion-buttons slot="end">
            <ion-button class="gold-button" routerlink="/blog">
              View All
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <hr class="line">
        <!-- Delete 2 "blog-post" after back-end intergration. -->
        <!-- Render the most recent 3 last blog post dynamically. -->
        <ion-row class="project-post">
          <ion-col size-xs="2" size-sm="2" size-lg="2">
            <img src="../../../assets/gold-logo.svg" alt="Project Post Thumbnail" class="project-thumbnail">
          </ion-col>
          <ion-col size-xs="10" size-sm="10" size-lg="7" class="blog-info">
            <h5 class="project-date">Date</h5>
            <h1 class="project-title">Title</h1>
            <h6 class="project-hashtags">#Hashtags</h6>
          </ion-col>
          <ion-col size-xs="11" size-sm="11" size-lg="3" class="view-page-button">
            <ion-button class="purple-button" (click)="viewProjectPage()">
              View Project
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="project-post">
          <ion-col size-xs="2" size-sm="2" size-lg="2">
            <img src="../../../assets/gold-logo.svg" alt="Project Post Thumbnail" class="project-thumbnail">
          </ion-col>
          <ion-col size-xs="10" size-sm="10" size-lg="7" class="blog-info">
            <h5 class="project-date">Date</h5>
            <h1 class="project-title">Title</h1>
            <h6 class="project-hashtags">#Hashtags</h6>
          </ion-col>
          <ion-col size-xs="11" size-sm="11" size-lg="3" class="view-page-button">
            <ion-button class="purple-button" (click)="viewProjectPage()">
              View Project
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="project-post">
            <ion-col size-xs="2" size-sm="2" size-lg="2">
              <img src="../../../assets/gold-logo.svg" alt="Project Post Thumbnail" class="project-thumbnail">
            </ion-col>
            <ion-col size-xs="10" size-sm="10" size-lg="7" class="blog-info">
              <h5 class="project-date">Date</h5>
              <h1 class="project-title">Title</h1>
              <h6 class="project-hashtags">#Hashtags</h6>
            </ion-col>
            <ion-col size-xs="11" size-sm="11" size-lg="3" class="view-page-button">
              <ion-button class="purple-button" (click)="viewProjectPage()">
                View Project
              </ion-button>
            </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!--  Curve -->
    <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" preserveAspectRatio="none" viewBox="0 0 1680 40" class="bottom-curve" style="position: relative;
    top: -29px;"><path d="M0 40h1680V30S1340 0 840 0 0 30 0 30z" fill="#fff"></path></svg> -->
    <!-- Footer Game -->
    <ion-row id="footer" class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="11">
        <img id="footer-logo" src="../../../assets/gold-logo.svg" alt="Footer Logo">
      </ion-col>
      <ion-col class="ion-text-center" size="11">
        <div id="footer-buttons">
          <hr class="footer-hr">
          <ion-button class="gold-button" (click)="donatePage()">
            Donate
          </ion-button>
          <ion-button class="red-button" (click)="contactPage()">
            Contact
          </ion-button>
        </div>
      <div id="social-media">
        <hr class="footer-hr">
        <ion-icon size="large" name="logo-linkedin"></ion-icon>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <div class="css-typing">
          <br class="ion-hide-sm-up">
          <br class="ion-hide-sm-up">
          <h1 style="color: #E2B00E; font-weight: 800;">Have a nice day!<span style="color: #fff">,</span></h1>
        </div> -->
