#landing-page-header {
  color: #0B4F3B;
  background: #ffffffe5;
  height: auto;
  padding: 10em 0;
  position: relative;
  margin-bottom: 5em;
  span {
    font-weight: 800;
  }
  .caption {
    margin: 0em 0em;
    font-size: 1.5em;
    text-align: justify;
    color: #1d071f;
    width: 230px;
    opacity: 0;
    animation: slide-in 1s cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-150px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .header-info-wrapper {
    // background: #0000006b;
    border-radius: 10px;
    height: auto;
    padding: 1em;
    position: relative;
  }
  #headshot-picture {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-image: url('..//../../assets/photo.png');
    background-size: contain;
  }

  #header-name {
    color: white;
    font-size: 1.7em;
    margin: 1em auto;
    padding: 6px;
    transition: 500ms;
    border-radius: 7px;
    margin-bottom: 0.5em;
    box-shadow: 1px 1px 3px #0000006e;
  }
  #header-buttons {
    margin: 3em auto;
    text-align: center;
    #donate-header-button {
      width: 200px;
      height: 40px;
      display: block;
      margin: 2em auto;
      --background: linear-gradient(360deg, #D01801 -2%, #810b00, #D01801);
      --color: white;
      --border-radius: 50px;
      --box-shadow: none;
    }
    #contact-header-button {
      width: 200px;
      height: 40px;
      display: block;
      margin: 2em auto;
      --background: linear-gradient(360deg, #3df63d -2%, #00b400, #3df63d);
      --color: white;
      --border-radius: 50px;
      --box-shadow: none;
    }
  }
  @media only screen and (min-width: 1100px) {
    #header-illustration {
      height: 500px;
      width: 500px;
    }
  }
}
@media only screen and (max-width: 500px) {
  #landing-page-header {
    padding: 5em 0;
  }
}
#bottom-curve {
  position: absolute;
  bottom: 0px;
}

#services {
  height: auto;
  width: 100%;
  position: relative;
  top: -100px;
  display: flex;
  align-items: center;
  padding: 3em 0;

}
.service-card {
  background: #000000e0;
  min-height: 600px;
  margin: 2em auto;
  box-shadow: 1px 1px 10px #0003;
  border-radius: 5px;
  padding: 2em;

  p {
    font-size: 1.1em;
    line-height: 1.5em;
  }
  h3 {
    color: #3df63d;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 500px) {
  .service-card{
    min-height: 400px;
    p {
      font-size: 1em;
      line-height: 1.3em;
    }
  }
}
@media only screen and (max-width: 991px) {
  .service-card{
    min-height: 500px;
  }
}
#design-icon, #development-icon, #instructing-icon {
  height: 100px;
  width: 100px;
  margin: 0.5em auto;
}
#design-icon {
  background-image: url('../../../assets/icons/design-icon.svg');
}
#development-icon {
  background-image: url('../../../assets/icons/development-icon.svg');
}
#instructing-icon {
  background-image: url('../../../assets/icons/instructing-icon.svg');
}
@media only screen and (min-width: 450px) {
  ion-toolbar {
    .section-header {
      font-size: 2em;
    }
  }
}
@media only screen and (max-width: 600px) {
  #landing-page-header {
    height: auto;
  }
  #services {
    width: 100%;
    padding: 3em 0;
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 1100px) {
  #landing-page-header {
    height: auto;
  }
  #headshot-picture {
    margin: 0 auto;
  }
  #header-buttons {
    margin: 0 auto;
    .gold-button {
      display: inline-block;
      height: 40px;
      width: 120px;
      margin: 1em auto;
    }
    .red-button {
      display: inline-block;
      height: 40px;
      width: 120px;
      margin: 1em auto;
    }
  }
}

#illustration-1 {
  background-image: url('../../../assets/illustrations/home-illustration-2.svg');
  height: 300px;
  width: 350px;
  margin: 3em auto;
  padding: 3em;
  border-radius: 5px;

  p {
    padding: 25px 0px;
    font-size: 1em;
    line-height: 1.2em;
  }
}
#yin-yang-wrapper {
  transform-origin: center;
}
#yin-yang {
  margin: 0em auto 5em auto;
}

.green-mobile-button {
  height: 56px;
  margin-top: 63px;
  --background: #3cf63c;
  font-size: 1em;
  color: #1d071f;
}

// Latest Blogs
.latest-blogs {
  // background: #f7f7f7;
  height: auto;
  padding: 1em 0;
  margin: 0;
  // padding: 40px;

  ion-toolbar {
    font-size:  1.4em;
    font-weight: 800;
    background: #1d071f;
    border-radius: 10px;

    .section-header {
      font-family: Ayuthaya;
      font-size:  1.4em;
      color: white;
    }
  }

  ion-toolbar > ion-buttons > .grey-button {
      width: 150px;
      display: block;
      margin: 30px 0;
      --background: black;
      --color: white;
      --border-radius: 50px;
      --box-shadow: none;
  }
}
.blog-post {
  height: auto;
  background: #1805199e;
  padding: 25px;
  transition: 0.5s;
  margin: 2em 0;
  border-radius: 10px;
  border-left: 16px solid #1d071f;
  display: flex;
  align-items: center;

  ion-toolbar {
    font-size:  1.4em;
    font-weight: 800;
    background: #1d071f;
    border-radius: 10px;

    .section-header {
      font-family: Ayuthaya;
      font-size:  1.4em;
      color: white;
    }
  }

  .green-button {
    margin: 0;
  }
  

  .blog-info {
    display: inline-block;
  }
  .blog-thumbnail {
    width: 100%;
    border-radius: 100px;
    margin-right: 2.5em;
  }
  .blog-date {
    color: #999;
    margin: 0 0;
    opacity: 0.6;
  }
  .blog-title {
    margin: 0 0;
    color: white;
    font-size: 1.2em;

  }
  @media only screen and (max-width: 645px) {
    .blog-title {
      font-size: 1em;
    }
  }
  .blog-hashtags {
    margin: 0 0;
    color: #3df63d;
  }
}


// Latest Project
.latest-projects {
  // background: #222;
  height: auto;
  padding: 1em 0;
  margin: 0;

  ion-toolbar {
    font-size:  1.4em;
    font-weight: 800;
    background: #1d071f;
    border-radius: 10px;

    .section-header {
      font-family: Ayuthaya;
      font-size:  1.4em;
      color: white;
    }
  }

  ion-toolbar > ion-buttons > .grey-button {
    width: 150px;
    display: block;
    margin: 30px 0;
    --background: black;
    --color: white;
    --border-radius: 50px;
    --box-shadow: none;
}

  .project-post:hover {
    border-left: 16px solid #3df63d;
  }

  h2 {
    color: white;
    font-size: 3em;
    margin: 2em 0;
    border-bottom: 2px solid white;
    padding-bottom: 0.5em;
  }
  .logo {
    background: blue;
    height: 400px;
  }
  .description {
    // background: #222;
    box-shadow: 1px 1px 28px #161616;
    border-radius: 15px;
    height: 400px;
  }
  // padding: 40px;
}
.project-post {
  height: auto;
  background: #1805199e;
  padding: 25px;
  transition: 0.5s;
  margin: 2em 0;
  border-radius: 10px;
  border-left: 16px solid #1d071f;
  display: flex;
  align-items: center;

  .project-thumbnail {
    width: 100%;
    border-radius: 100px;
    margin-right: 2.5em;
  }
  .project-title {
    margin: 0 0 0.5em 0;
    color: #3df63d;
    font-size: 1.6em;

  }
  .project-description {
    margin: 0 0;
    color: white;
    font-size: 1.2em;
  }
  @media only screen and (max-width: 645px) {
    .project-title {
      font-size: 1.2em;
    }
    .project-description {
      font-size: 1em;
    }
  }

}

#footer {
  background: #000000d1;
  height: 600px;
  margin-top: 4em;
  padding: 6em 0em 3em 0em;

  #footer-logo {
    width: 100px;
  }
  #footer-buttons {
    width: 150px;
    display: inline-block;
  }
  .footer-hr {
    border-top: 5px solid #D3B900;
    opacity: 0.4;
    padding: 0;
    width: 150px;
  }
  #social-media {
    margin-bottom: 1em;
  }
}
ion-toolbar {
  --background: #ffffff17;
  padding: 0.2em 1em;
  border-radius: 5px;
}
.section-header{
  font-size: 1.6em;
  padding: 0;
  color: #D3B900;
}