<ion-header>
  <ion-toolbar>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center" style="margin-bottom: 80px;">
    <ion-col class="ion-text-center" size-xs="11" size-sm="8">
      <h1 class="page-header">Projects</h1>
      <h4 class="page-sub-header">Here are some personal and professional projects that I am at least willing to share.</h4>
    </ion-col>
  </ion-row>
  <ion-row style="padding: 1em;" class="ion-justify-content-left">
    <ion-col size-xs="11" size-sm="10" size-md="6" size-lg="5">
      <div class="project">
        <h3>Project</h3>
      </div>
    </ion-col>
    <ion-col size-xs="11" size-sm="10" size-md="6" size-lg="5">
      <div class="project">
        <h3>Project</h3>
      </div>
    </ion-col>
    <ion-col size-xs="11" size-sm="10" size-md="6" size-lg="5">
      <div class="project">
        <h3>Project</h3>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
