.project {
  height: 200px;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 1px 1px 21px #e3dede;
}
#footer {
  background: #000000d1;

  #footer-logo {
    width: 100px;
  }
  #footer-buttons {
    width: 150px;
    display: inline-block;
  }
  .footer-hr {
    border-top: 5px solid #D3B900;
    opacity: 0.4;
    padding: 0;
    width: 150px;
  }
  #social-media {
    margin-bottom: 1em;
  }
}
.project-post {
  height: auto;
  background: linear-gradient(118deg, rgba(50,5,52,1) 1%, rgb(48 7 55 / 50%) 25%, rgba(50,5,52,1) 50%, rgb(38 7 42 / 50%) 75%, rgba(50,5,52,1) 100%);
  padding: 25px;
  transition: 0.5s;
  border-radius: 10px;
  border-left: 16px solid #1d071f;
  display: flex;
  align-items: center;

  .green-button {
    margin: 0;
  }
  .gold-button {
    margin: 0;
  }

  .project-info {
    display: inline-block;
  }
  .project-date {
    color: #999;
    margin: 0 0;
    opacity: 0.6;
  }
  .project-thumbnail {
    width: 100%;
    border-radius: 100px;
    margin-right: 2.5em;
  }
  .project-title {
    margin: 0 0 0.5em 0;
    color: #3df63d;
    font-size: 1.2em;

  }
  .project-description {
    margin: 0 4em 0 0;
    color: white;
    font-size: 0.9em;
  }
  @media only screen and (max-width: 645px) {
    .project-title {
      font-size: 1.2em;
    }
    .project-description {
      font-size: 1em;
    }
    .project-post:hover {
      border-left: none;
    }
}
}
.latest-projects {
  // background: #f7f7f7;
  height: auto;
  padding: 1em 0.4em;
  padding-bottom: 10em;

  ion-toolbar > ion-buttons > .gold-button {
    width: 150px;
    display: block;
    margin: 30px 0;
    --background: linear-gradient(360deg, #D3B900 -2%, #87780a, #D3B900);
    --color: white;
    --border-radius: 50px;
    --box-shadow: none;
  }
}