ion-grid {
  background-image: url('../../../assets/illustrations/Matrix-Background.svg');
  background-attachment: fixed;
  background-size: cover;
  --color: white;
  height: auto;
}
@media only screen and (max-width: 600px) {
  ion-grid {
    background-image: url('../../../assets/illustrations/Matrix-Background.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
h1 {
  border-bottom: 1px solid #fff;
  padding-bottom: 1em;
}

.reply {
  height: 0;
  display: none;
  ion-textarea {
    background: #e1e9ee;
    margin: 2em auto;
    border-radius: 5px;
    padding: 0.3em;
  }
}
.message {
  background: #fff;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #333;
  color: #333;
  padding: 1em;
  margin: 3em auto;

  h2 {
    color: #BC3790;
  }
  h5 {
    color: #777;
  }
  ion-toolbar {
    --background: none;
    border-top: rgba(119, 119, 119, 0.2) solid 1px;
    margin-top: 2em;

    #delete-message-button {
      --background: linear-gradient(360deg, #D01801 -2%, #810b00, #D01801);
      --border-radius: 50px;
      width: 100px;
      margin: 0 0 0 0.5em;
      --color: white;
    }
    #reply-message-button {
      --background: linear-gradient(360deg, #00c400 -2%, #005c47, #00c400);
      --border-radius: 50px;
      width: 100px;
      margin: 0 0 0 0.5em;
      --color: white;
    }
  }
}
.active-link {
  color: #3df63d;
  padding-left: 0.3em;
  padding-bottom: 4px;
  font-weight: 600;
  transition: 0.5s;
}