<ion-content>
  <ion-grid>
    <ion-row class="ion-hide-lg-down" style="height: 100px;"></ion-row>
    <ion-row class="ion-hide-lg-up" style="height: 50px;"></ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="9" size-md="8" size-lg="6">
        <h1>Messages ({{this.messageCount}})</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col style="position: relative; top: -32px;" size-xs="11" size-sm="9" size-md="8" size-lg="6">
        <div *ngFor="let message of this.allMessages" class="message">
          <h2>{{message.fullName}}</h2>
          <h5>{{message.email}}</h5>
          <p>{{message.message}}</p>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button id="delete-message-button" (click)="deleteAlert(message._id)">
                Delete
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </div>
      </ion-col>
    </ion-row>

    <!-- Mobile Admin Tabbar -->
    <ion-row class="admin-mobile-tab ion-hide-lg-up">
      <ion-col class="ion-text-center" size="3">
        <a routerLink="/admin/blogs" routerLinkActive="active-link">Blogs</a>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <a routerLink="/admin/projects" routerLinkActive="active-link">Projects</a>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <a routerLink="/admin/contact" routerLinkActive="active-link">Contact</a>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <a routerLink="/admin/donate" routerLinkActive="active-link">Donate</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
