@media only screen and (max-width: 400px) {
  svg {
    height: 200px;
    width:  200px;
  }
}
@media only screen and (min-width: 400px) {
  svg {
    height: 200px;
    width:  200px;
  }
}
@media only screen and (min-width: 500px) {
  svg {
    height: 300px;
    width:  300px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1000px) {
  svg {
    height: 350px;
    width:  350px;
    margin: 0 auto;
  }
}
#coin {
}
@keyframes coin-drop {
  0% {
    opacity: 0;
    transform: translate(-0px,0px)
  }
  10% {
    opacity: 0.2;
    transform: translate(-10px,300px)
  }
  20% {
    opacity: 1;
    transform: translate(-20px,700px)
  }
  100% {
    opacity: 1;
    transform: translate(-30px,700px)
  }
}