<link rel="stylesheet" href="./donate-illustration.component.scss">
<svg width="500px" height="500px" viewBox="0 0 1050 1050" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Donate-Illustration</title>
  <defs>
      <circle id="path-1" cx="44.5" cy="44.5" r="44.5"></circle>
      <filter x="-6.2%" y="-6.2%" width="112.4%" height="112.4%" filterUnits="objectBoundingBox" id="filter-2">
          <feGaussianBlur stdDeviation="5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
          <feOffset dx="0" dy="1" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
          <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
          <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
      </filter>
      <circle id="path-3" cx="44.5" cy="44.5" r="44.5"></circle>
      <filter x="-6.2%" y="-6.2%" width="112.4%" height="112.4%" filterUnits="objectBoundingBox" id="filter-4">
          <feGaussianBlur stdDeviation="5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
          <feOffset dx="0" dy="1" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
          <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
          <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
      </filter>
      <circle id="path-5" cx="44.5" cy="44.5" r="44.5"></circle>
      <filter x="-6.2%" y="-6.2%" width="112.4%" height="112.4%" filterUnits="objectBoundingBox" id="filter-6">
          <feGaussianBlur stdDeviation="5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
          <feOffset dx="0" dy="1" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
          <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
          <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
      </filter>
      <circle id="path-7" cx="44.5" cy="44.5" r="44.5"></circle>
      <filter x="-6.2%" y="-6.2%" width="112.4%" height="112.4%" filterUnits="objectBoundingBox" id="filter-8">
          <feGaussianBlur stdDeviation="5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
          <feOffset dx="0" dy="1" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
          <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
          <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
      </filter>
  </defs>
  <g id="Donate-Illustration" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <path d="M336,443 L714,443 L714,875 C714,899.852814 693.852814,920 669,920 L381,920 C356.147186,920 336,899.852814 336,875 L336,443 L336,443 Z" id="Rectangle" fill-opacity="0.244981459" fill="#D8D8D8"></path>
      <path d="M336,442.850696 C343.807712,429.730999 351.849733,420.240495 360.126064,414.379185 C368.402394,408.517874 383.803376,401.406006 406.329009,393.043581 L520.893462,393.043581 L635.457915,393.043581 C657.905992,398.966131 675.675205,406.077999 688.765552,414.379185 C701.8559,422.680371 710.267382,432.170875 714,442.850696 L336,442.850696 Z" id="Path-3" fill-opacity="0.244981459" fill="#D8D8D8"></path>
      <polyline id="Path-4" stroke="#979797" points="406.329009 393.043581 406.329009 367.294097 632.946718 367.294097 632.946718 393.043581"></polyline>
      <g id="Group" transform="translate(625.000000, 831.000000)">
          <g id="Oval">
              <use fill="#FFC200" fill-rule="evenodd" xlink:href="#path-1"></use>
              <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
          </g>
          <text id="$" font-family="Avenir-Heavy, Avenir" font-size="40" font-weight="600" fill="#066A65">
              <tspan x="32.66" y="57">$</tspan>
          </text>
      </g>
      <g id="Group-Copy" transform="translate(336.000000, 831.000000)">
          <g id="Oval">
              <use fill="#FFC200" fill-rule="evenodd" xlink:href="#path-3"></use>
              <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
          </g>
          <text id="$" font-family="Avenir-Heavy, Avenir" font-size="40" font-weight="600" fill="#066A65">
              <tspan x="32.66" y="57">$</tspan>
          </text>
      </g>
      <g id="Group-Copy-2" transform="translate(488.000000, 831.000000)">
          <g id="Oval">
              <use fill="#FFC200" fill-rule="evenodd" xlink:href="#path-5"></use>
              <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
          </g>
          <text id="$" font-family="Avenir-Heavy, Avenir" font-size="40" font-weight="600" fill="#066A65">
              <tspan x="32.66" y="57">$</tspan>
          </text>
      </g>
      <g id="Group-Copy-3" transform="translate(459.000000, 181.000000)">
          <g id="Oval">
              <use fill="#FFC200" fill-rule="evenodd" xlink:href="#path-7"></use>
              <use fill="black" fill-opacity="1" filter="url(#filter-8)" xlink:href="#path-7"></use>
          </g>
          <text id="$" font-family="Avenir-Heavy, Avenir" font-size="40" font-weight="600" fill="#066A65">
              <tspan x="32.66" y="57">$</tspan>
          </text>
      </g>
  </g>
</svg>
