text {
  transform: scale(1.4);
}
tspan {
  fill: black;
  font-size: 1.3em;
}
tspan:nth-child(odd) {
  animation: number-color-animation-1 1s linear infinite forwards;
}
tspan:nth-child(even) {
  animation: number-color-animation-2 1s linear  infinite forwards;
}
text:nth-child(odd) {
  animation: number-line-maxtrix-animation 10s linear infinite forwards;
}
text:nth-child(even) {
  animation: number-line-maxtrix-animation 3s linear infinite forwards;
}
@keyframes number-line-maxtrix-animation {
  0% {
      transform: translateY(1000px);
  }
  100% {
      transform: translateY(-1000px);
  }
}
@keyframes number-color-animation-1 {
  0% {
    fill: black;
  }
  25% {
    fill: white;
  }
  50% {
    fill: #00C400;
  }
  75% {
    fill: white;
  }
  100% {
    fill: black;
  }
}
@keyframes number-color-animation-2 {
  0% {
    fill: white;
  }
  50% {
    fill: black;
  }
  100% {
    fill: white;
  }
}