#mobile-toolbar {
  position: relative;
  top: 90px;
  --background: #505050bf;
}
#project-thumbnail {
  width: 100px;
  border-radius: 100px;
}
.project-wrapper{
  padding: 1.5em;
  background: #1805199e;
  border-radius: 10px;
  margin-top: 7em;
}
ion-title {
  color: #3cf63c;
}
h1 {
  // color: #d8cca8;
  color: #3cf63c;
}
#description {
  background: #1805199e;
  padding: 30px;
}
ion-footer {
  text-align: center;
  background: #3cf63c;
  position: fixed;
  bottom: 0px;

  p {
    color: #1b061c;
    font-size: 1.5em;
  }
}
ion-toolbar {
  --background: none;
  ion-buttons {
    .gold-button {
      width: 80px;
      display: block;
      --background: linear-gradient(360deg, #d8cca8 -2%, #847145, #d8cca8);
      --color: white;
      --border-radius: 50px;
      --box-shadow: none;
    }
    .green-button {
      width: 80px;
      display: block;
      margin-right: 1em;
      --background: linear-gradient(360deg, #3df63d -2%, #005c47, #3df63d);
      --color: white;
      --border-radius: 50px;
      --box-shadow: none;
    }
    .grey-button {
      width: 80px;
      display: block;
      margin-right: 1em;
      --background: linear-gradient(360deg, #777777 -2%, #333, #777777);
      --color: white;
      --border-radius: 50px;
      --box-shadow: none;
    }
  }
}