#mobile-toolbar {
  position: relative;
  top: 90px;
  --background: #505050bf;
}
#project-thumbnail {
  width: 200px;
}
.project-wrapper{
  padding: 1.5em;
  background: #482e49;
  border-radius: 5px;
  margin-top: 7em;
}
ion-title {
  color: #3cf63c;
  font-size: 2em;
}
h1 {
  // color: #d8cca8;
  color: #3cf63c;
}
#description {
  padding: 30px;
}
ion-footer {
  text-align: center;
  background: #3cf63c;
  position: fixed;
  bottom: 0px;

  p {
    color: #1b061c;
    font-size: 1.5em;
  }
}
ion-toolbar {
  --background: none;
  }
