ion-grid {
  background-image: url('../../../../assets/illustrations/Matrix-Background.svg');
  background-attachment: fixed;
  background-size: cover;
  --color: white;
}
.sc-ion-buttons-md-s ion-button:not(.button-round):nth-child(1) {
  --border-radius: 50px;
}
.sc-ion-popover-md-h {
  --width: 180px;
}
.purple-button {
  width: 90px;
  display: block;
  margin: 30px 0;
  --background: linear-gradient(360deg, #1a0043 -2%, #1a0043, #000000);
  --color: white;
  border-radius: 50px;
  --box-shadow: none;
}
.register-button {
  width: 100px;
  --background: linear-gradient(360deg, #3df63d -2%, #005c47, #3df63d);
  --color: white;
  --border-radius: 50px;
  --box-shadow: none;
}
.login-button {
  width: 100px;
  --background: linear-gradient(360deg, #666666 -2%, #333, #666666);
  --color: white;
  --border-radius: 50px;
  --box-shadow: none;
  margin-right: 1em;
}
ion-toolbar:first-child {
  --background: none;
  color: white;
  padding: 1em 0em;
}
.blog-info {
  background-color: #1d071f;
  padding: 0.5em 0.5em 1em 1em;
  border-radius: 5px;
}
.blog-header {
  font-family: Ayuthaya;
  font-size:  1.3em;
  font-weight: 800;
}
.blog-date {
  color: #D3B900;
  margin: 5px 0;
  font-size: 0.9em;
}
.blog-hashtags {
  margin: 5px 0;
  color: #3df63d;
}
.blog-post-wrapper {
  background: #ffffffe5;
  margin: 3em auto 6em auto;
  padding-bottom: 9em;
  padding-top: 3em;
  position: relative;
}
#bottom-curve {
  position: absolute;
  bottom: 0px;
}

#blog-post {
  line-height: 32px;
  white-space: pre-wrap;
  font-size: 21px;
  margin-top: 3em;
  color: #222;
  padding: 1em;
  border-radius: 5px;
}
.comment-wrapper {
  background: #1805199e;
  padding: 2em;
  margin: 2em auto;
  border-radius: 5px;
  transition: 0.5s;

  h5 {
    position: relative;
    bottom: 9px;
    right: 11px;
  }
  .login-message {
    opacity: 0.5;
    font-size: 1em;
  }
  .comment-pic {
    position: relative;
    margin-right: 0.5em;
    height: 45px;
    border-radius: 40px;
  }
  .comment {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-top: 1em;
    white-space: pre-wrap;
  }
  .comment-admin {
    background: #bc379047;
  }
  .comment-toolbar {
    --background: none;
    margin-top: 6em;
    padding-top: 1em;

    ion-buttons {
      .green-button {
        width: 100px;
        --background: linear-gradient(360deg, #3df63d -2%, #005c47, #3df63d);
        --color: white;
        --border-radius: 50px;
        --box-shadow: none;
      }
      .grey-button {
        width: 170px;
        --background: linear-gradient(360deg, #130e0e -2%, #000000, #130e0e);
        --color: white;
        --border-radius: 50px;
        --box-shadow: none;
      }
    }
  }
  .reply-toolbar {
    --background: none;
    margin-top: 2em;

    .green-button {
      width: 100px;
      --background: linear-gradient(360deg, #3df63d -2%, #005c47, #3df63d);
      --color: white;
      --border-radius: 50px;
      --box-shadow: none;
    }
    .grey-button {
      margin-top: 1em;
      --width: 150px;
      height: 36px;
      font-size: 0.8em;
      position: relative;
      left: 7px;
      // --background: linear-gradient(360deg, #130e0e -2%, #000000, #130e0e);
      --color: white;
      --border-radius: 50px;
      --box-shadow: none;
    }
    .delete-button {
      width: 75px;
      font-size: 0.7em;
      --background: linear-gradient(360deg, #D01801 -2%, #810b00, #D01801);
      --color: white;
      --border-radius: 50px;
      --box-shadow: none;
    }
    .close-replies-button {
      width: 150px;
      --background: none;
      --color: white;
      --border-style: solid;
      --border-width: 4px;
      --border-color: #D01801;
      --border-radius: 50px;
      --box-shadow: none;
    }
  }
  .commented-when{
    opacity: 1;
    color: #D3B900;
    font-size: 0.7em;
    display: block;
    position: relative;
    left: 68px;
    top: -14px;
  }
  .comment-name, .comment-admin {
    position: relative;
    top: -20px;
    left: 9px;
    font-size: 0.8em;
  }
  .comment-admin {
    color: white;
    background: #1d071f66;
    border-radius: 5px;
    padding: 0.2em 0.5em;
  }
  .comment-name {
    color: white;
    background: #016fff47;
    border-radius: 5px;
    padding: 0.2em 0.5em;
  }

  @media only screen and (max-width: 975px) {
    .comment-pic {
      height: 35px;
    }
    .comment {
      font-size: 1em;
      line-height: 1.3em;
    }
  }
  .close-reply-button {
    position: absolute;
    bottom: -60px;
    right: -4px;
    --background: none
  }
  .replies-close-button {
    display: none;
    --color: white;
    --background: #222;
    width: 150px;
    --border-radius: 50px;
  }
  .reply-textarea {
    background: #333;
    color: white;
    border: 2px solid #3df63d;
    border-radius: 5px;
    --placeholder-color: white;
    display: block;
    margin-top: 4em;
    animation: slide-up 0.5s ease-in forwards;
  }
  .reply-button-position {
    position: absolute;
    bottom: -90px;
    right: -18px;
  }
  .replies {
    padding: 0;
    height: auto;
    display: none;
    margin: 3em 0;

    .replies-title {
      margin-bottom: 3em;
      color: white;
      font-size: 1.4em;
      padding-bottom: 0.4em;
    }
    .replies-upper-toolbar{
      background: rgb(146 146 146 / 47%);
      padding: 1.3em 1em 1.6em 1em;
      box-shadow: 1px 8px 8px #00000066;
      border-radius: 14px;
      margin-top: 9em;
    }
    .upper-close-reply-button {
      float: right;
      ion-icon {
        font-size: 1.3em;
        background: linear-gradient(360deg, #D01801 -2%, #810b00, #D01801);
        color: white;
        width: 50px;
        padding: 0.2em 0.2em;
        border-radius: 50px;
      }
    }
    // background-color: #E8E6E6;
    animation: slide-in-right 0.5s ease-in forwards;

    .reply {
      margin: 5em 0 0 0;
      min-height: 180px;
      width: 91%;
      white-space: pre-wrap;
      transition: 500ms;
      background: #00000047;
      padding: 1.4em 1em 1em 2em;
      float: right;
      border-radius: 5px;
      box-shadow: 1px 1px 9px #080808;

      ion-toolbar {
        --background: none;
      }
    }
  }
  .danger-toast {
    font-weight: 600;
    font-size: 21px;
    width: 100%;
    --background: #FF443B;
    position: relative;
    top: 150px;
    color: white;
  }
  .success-toast {
    font-weight: 600;
    font-size: 21px;
    width: 100%;
    --background: #3df63d;
    position: relative;
    top: 150px;
    color: white;
  }
  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 0;
      transform: translateX(0px);
    }
    99% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      display: none;
    }
  }
}

#mobile-comment-input {
  position: fixed;
  bottom: 0px;
  height: 80px;
  width: 100%;
  background-color: white;
  color: #1a0043;
  box-shadow: 1px -3px 13px #000000b8;
}

.post-button{
  --background: #00ff00;
  color: #222;
}

.info-footer-wrapper{
  background: #000000d1;
  margin-bottom: 0;
  margin-top: 10em;

}

.info-footer{
  padding: 80px 20px;
  // background: lightgray;
}


@media only screen and (max-width: 450px) {
  .info-footer{
    text-align: center;

    .info-footer-text {
      font-size: 1.2em;
      margin: 55px 0px;
    }

    .green-button {
      margin: 25px auto;
    }
  }
}

.info-footer-text {
  font-size: 1.2em;
  margin: 25px 0px;
  line-height: 1.2em;
}

.picture {
  height: 100px; width: 100px;
  border-radius: 50px;
}
#read-more-header {
  background: #847145;
  width: 200px;
  margin: 2em auto;
  padding: 0.4em;
  border-radius: 5px;
}
#prev, #next {
  background: #c4ffc4;
  transition: 0.5s;
  margin-top: 2em;

  h4 {
    color: #2B50C8;
  }

  p {
    color: #333;
    font-weight: 800;
  }
}
#prev{
  border-left: 17px solid #3df63d;
  padding-left: 2em;
  border-radius: 10px 0 0 10px;
}
#next{
  border-right: 17px solid #3df63d;
  padding-right: 2em;
  border-radius: 0 10px 10px 0;
}
@media only screen and (max-width: 450px) {
  #prev, #next {
    font-size: 1.1em;
  }
  #prev {
  }
  #next {

  }
}

#prev:hover, #next:hover {
  transition: 0.5s;
  // background: #00ff00;

  p {
    color: #000;
  }

  h4 {
    color: white;
  }
}

#prev:hover {
  border-right: 17px solid #D4AF37;

  p {
    color: #000;
  }

  h4 {
    color: #BC3790;
  }
}

#next:hover {
  border-left: 17px solid #D4AF37;

  p {
    color: #000;
  }

  h4 {
    color: #BC3790;
  }
}



.enter-comment {
  background: #212521;
  border: 2px solid #00ff00;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 8px;
}

.blog-page-illustration{
  background: lightgoldenrodyellow;
  height: 80vh;
}

#footer {
  background: #000000d1;
  height: 600px;
  padding: 6em 0em 3em 0em;

  #footer-logo {
    width: 100px;
  }
  #footer-buttons {
    width: 150px;
    display: inline-block;
  }
  .footer-hr {
    border-top: 5px solid #D3B900;
    opacity: 0.4;
    padding: 0;
    width: 150px;
  }
  #social-media {
    margin-bottom: 1em;
  }
}