<ion-content>
  <ion-grid>
  <!-- Blog Header and Search Bar -->
  <ion-row class="ion-justify-content-center blog-post-wrapper">
    <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="6">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button routerLink="/blog" class="purple-button">
            Back
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <div class="blog-info">
        <h1 class="blog-header">{{title}}</h1>
        <h4 class="blog-date">{{date}}</h4>
        <h6 class="blog-hashtags">{{hashtags}}</h6>
      </div>
      <!-- <img style="margin: 0 auto; width: 500px; display: block;" src="../../../../assets/logo.svg"> -->
      <p id="blog-post">
        {{post}}
      </p>
    </ion-col>
  </ion-row>

  <!-- Comments -->
  <ion-row class="ion-justify-content-center" style="margin-bottom: 6em;">
    <ion-col size-xs="11" size-sm="9" size-md="8" size-lg="6">
      <h3 style="color: #00ff00;">Comments (3)</h3>
      <hr class="line">
      <div class="comment-wrapper" *ngFor="let comment of comments">
        <h5>
          <img class="comment-pic" src="../../../../assets/logo-2.svg">{{comment.name}}
          <span class="commented-when">commented {{comment.date}} ago</span>
        </h5>
        <p class="comment">{{comment.comment}}</p>
        <div id="replies">
          <h3>Replies</h3>
          <div class="reply" *ngFor="let reply of comment.replies">
            <h5>
              <img class="comment-pic" src="../../../../assets/logo-2.svg">{{reply.name}}
              <span class="commented-when">commented {{reply.date}} ago</span>
            </h5>
            <p class="comment">{{reply.reply}}</p>
          </div>
        </div>
        <ion-textarea id="reply-textarea" rows="5" placeholder="Add reply here">
          <!-- <ion-button class="close-reply-button" (click)="closeReplyTeaxtarea()">
            Close
          </ion-button> -->
        </ion-textarea>
        <ion-toolbar class="comment-toolbar">
          <ion-buttons slot="start">
            <ion-button class="green-button" (click)="reply(this.id, comment._id)">
              Reply
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button id="replies-button" class="grey-button" (click)="viewReplies(comment)">
              View Replies (0)
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </div>

      <!-- Comment Textarea -->
      <ion-textarea
        class="enter-comment"
        rows="6" cols="20"
        placeholder="Please enter comment here">
      </ion-textarea>
      <ion-toolbar>
        <ion-buttons *ngIf="this.userType === 'none'" slot="start">
          <ion-button class="login-button">
            Login
          </ion-button>
          <ion-button class="register-button">
            Register
          </ion-button>
        </ion-buttons>
        <ion-buttons *ngIf="this.userType === 'user'" slot="start">
          <h1>{{this.userFullName}}</h1>
          <img src="{{this.userPicture}}" alt="">
        </ion-buttons>
        <ion-buttons *ngIf="this.userType === 'admin'" slot="start">
          <!-- <h1>{{this.userFullName}}</h1> -->
          <img src="{{this.userFullName}}" alt="">
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="comment(this.id)" style="width: 100px; position: relative; right: 10px;" class="purple-button">
            Post
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
  </ion-row>

  <!-- Info Footer -->
  <ion-row class="info-footer-wrapper ion-justify-content-center">
    <ion-col size-xs="11" size-sm="9" size-md="8" size-lg="6">
      <div class="info-footer">
        <img class="picture" src="../../../../assets/photo.png" alt="picture">
        <h3>Eddie Taliaferro II</h3>
        <p class="info-footer-text">This website is my blah blah blah. Make up text for this later. And this when you are done with that, make more text later. You can look at my blog posts, guides, projects, or contact me if you have a question or would like to do business. </p>
      </div>
    </ion-col>
  </ion-row>
  <!-- Prev & Next -->
  <ion-row class="ion-justify-content-center">
    <ion-col size-xs="12" size-sm="9" size-lg="8" class="ion-text-center">
      <h1 style="margin-bottom: 30px;">Read More</h1>
      <div class="prev-next">
        <ion-row class="ion-justify-content-center">
          <ion-col class="prev ion-text-right" size="6">
           <p>Prev</p>
           <h4>Title of prev page</h4>
          </ion-col>
          <ion-col class="next ion-text-left" size="6">
            <p>Next</p>
            <h4>Title of next page</h4>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <!-- Footer Illustration -->
  <ion-row id="footer" class="ion-justify-content-center">
    <ion-col class="ion-text-center" size="11">
      <img id="footer-logo" src="../../../assets/gold-logo.svg" alt="Footer Logo">
    </ion-col>
    <ion-col class="ion-text-center" size="11">
      <div id="footer-buttons">
        <hr class="footer-hr">
        <ion-button class="gold-button" (click)="donatePage()">
          Donate
        </ion-button>
        <ion-button class="red-button" (click)="contactPage()">
          Contact
        </ion-button>
      </div>
    <div id="social-media">
      <hr class="footer-hr">
      <ion-icon size="large" name="logo-linkedin"></ion-icon>
    </div>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
