<ion-content>
  <ion-grid>
    <!-- Blog Header and Search Bar -->
  <ion-row class="ion-justify-content-center" style="margin-bottom: 20px;">
    <ion-col class="ion-text-center" size-xs="11" size-sm="8" size-lg="6">
      <h1 class="page-header">Donate</h1>
    </ion-col>
  </ion-row>

  <!-- Donate Illustration -->
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-text-center" size-xs="11" size-sm="8" size-lg="6">
      <app-donate-illustration></app-donate-illustration>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-text-center" size-xs="11" size-sm="8" size-lg="6">
      <div id="cash-app-message">
        <img id="cash-app-logo" height="60" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Square_Cash_app_logo.svg/1200px-Square_Cash_app_logo.svg.png" alt="Cashapp logo" />
        <p style="color: #369e2b; font-size: 21px; font-weight: 600;margin-top: 1.5em;">CashApp</p>
        <p style="color: #222; font-weight: 400;">$EddieTaliaferro</p>
      </div>
    </ion-col>
    <ion-col class="ion-text-center" size-xs="11" size-sm="8" size-lg="6">
      <div id="paypal-message">
        <img id="paypal-logo" height="60" src="https://seeklogo.com/images/P/paypal-logo-6ED6A5924E-seeklogo.com.png" alt="Cashapp logo" />
        <p style="color: #0055a5; font-size: 21px; font-weight: 600;margin-top: 1.5em;">PayPal </p>
        <p style="color: #222; font-weight: 400;">eddielacrosse2@gmail.com</p>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-text-center" size-xs="11" size-sm="8" size-lg="6">
      <h1 id="or">OR</h1>
      <div class="alert">
        You can donate directly to me. Online donations are powered and secured by Stripe.
        The entire form needs to be filled before you can submit.
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center" style="margin-bottom: 80px;">
    <ion-col size-xs="12" size-sm="8" size-lg="6" size-xl="4">
      <form [formGroup]="donateForm" (ngSubmit)="makePayment(this.donateForm.value)">
        <ion-item lines="none">
          <ion-input (ionFocus)="inputFocus($event, 'name')" (ionBlur)="inputBlur($event)" id="name-input" formControlName="name" type="text" placeholder="First & Last name"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input (ionFocus)="inputFocus($event, 'email')" (ionBlur)="inputBlur($event)" id="email-input" formControlName="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input (ionFocus)="inputFocus($event, 'amount')" (ionBlur)="inputBlur($event)" id="amount-input" formControlName="dollar_amount" type="number" placeholder="Dollar Amount"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-textarea (ionFocus)="inputFocus($event, 'message')" (ionBlur)="inputBlur($event)" id="message-input" formControlName="message"
          rows="15" cols="20"
          placeholder="Please enter your message here"></ion-textarea>
        </ion-item>
        <ion-item class="ion-text-center" lines="none">
          <ion-button type="submit" class="green-button ion-hide-lg-down" style="margin: 3em auto">
            Send
          </ion-button>
        </ion-item>
      </form>
    </ion-col>
  </ion-row>
  <ion-footer [disabled]="!this.donateForm.valid" (click)="makePayment(this.donateForm.value)" class="green-mobile-button ion-hide-lg-up">
    <p>Send</p>
  </ion-footer>
  </ion-grid>
</ion-content>
