#cash-app-message {
  font-size: 1em;
  // background: #40ff7f3b;
  background:#d4ffe6;
  padding: 1em 0 2.5em 0;
  border-radius: 10px;
  width: 320px;
  min-height: 230px;
  float: right;
}

#cash-app-logo {
  position: relative;
  top: 24px;
  margin: 0 18px;

}
#paypal-message {
  font-size: 1em;
  // background: #0055a542;
  background:#d4ffe6;
  padding: 1em 0 2.5em 0;
  border-radius: 10px;
  width: 320px;
  min-height: 230px;
  float: left;
}

#paypal-logo {
  position: relative;
  top: 24px;
  margin: 0 18px;

}

@media only screen and (max-width: 993px) {
  #cash-app-message, #paypal-message {
    float: none;
    margin: 1em auto;
  }
}
#or {
  border: 3px solid #3cf63c;
  border-radius: 5px;
  width: 100px;
  margin: 2em auto;
  padding: 0.3em 0.3em;
}
.green-mobile-button {
  height: 56px;
  margin-top: 63px;
  --background: #3cf63c;
  font-size: 1em;
  color: #1d071f;
}
.alert {
  background-color: #111;
  border: solid 2px #3cf63c;
  border-radius: 5px;
  margin: 1em auto;
  padding: 0.5em;
}
form {
  background: #1805199e;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #000;
}

@media only screen and (max-width: 600px) {
  form {
    padding: 0.3em;
  }
}
ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h {
  --padding-start: 8px;
}
ion-input, ion-textarea {
  margin-top: 1em;
}