<ion-content>
  <ion-grid>
    <ion-row style="height: 50px;"></ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col id="header-button" size-lg="8">
        <ion-toolbar>
          <ion-title>Edit Blog</ion-title>
          <ion-buttons slot="end">
            <ion-button class="gold-button" (click)="viewBlog()">
              View Blog
            </ion-button>
            <ion-button id="back-button" style="--border-radius: 50px;" class="grey-button" (click)="back()">
              Back
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
      <ion-col size-lg="8">
        <form [formGroup]="editBlogForm" (ngSubmit)="submitBlogPost()">
          <!-- Title -->
          <h4 style="margin-top: 0em;">Title</h4>
          <ion-input placeholder="Title" required formControlName="title" type="text"></ion-input>

          <!-- Thumbnail -->
          <h4>Thumbnail</h4>
          <input id="thumbnail" (change)="getThumbnailFile($event)" name="blog-thumbnail" placeholder="Title"  type="file"/><br>
          <!-- ThumbnailDataURL is the updated picture -->
          <img height="200" class="picture-preview" *ngIf="this.thumbnailDataURL" src="{{this.thumbnailDataURL}}">
          <img height="200" class="picture-preview" *ngIf="this.editBlogForm.value.thumbnail" src="{{this.editBlogForm.value.thumbnail}}">


          <!-- Hashtags -->
          <h4>Hashtags</h4>
          <ion-input style="width: 250px;" placeholder="Hashtag 1" formControlName="hashtag_1" type="text"></ion-input>
          <ion-input style="width: 250px;" placeholder="Hashtag 2" formControlName="hashtag_2" type="text"></ion-input>
          <ion-input style="width: 250px;" placeholder="Hashtag 3" formControlName="hashtag_3" type="text"></ion-input>
          <ion-input style="width: 250px;" placeholder="Hashtag 4" formControlName="hashtag_4" type="text"></ion-input>
          <ion-input style="width: 250px;" placeholder="Hashtag 5" formControlName="hashtag_5" type="text"></ion-input>

          <!-- Pictures -->
          <h2 id="pictures-checkbox">
            Pictures
            <ion-checkbox style="float: right; position: relative; top: 6px;" (ionChange)="picturesSectionChange($event)"></ion-checkbox>
          </h2>
          <div *ngIf="this.picturesSection" id="pictures-section">
            <h4 style="margin-top: 1em;">Picture 1</h4>
            <input id="picture-1" (change)="getPictureOneFile($event)" name="blog-picture" type="file" placeholder="Picture-1" />
            <img class="picture-preview" *ngIf="this.pictureOneDataURL" src="{{this.pictureOneDataURL}}">
            <img class="picture-preview" *ngIf="this.editBlogForm.value.picture_1" src="{{this.editBlogForm.value.picture_1}}">

            <h4>Picture 2</h4>
            <input id="picture-2" (change)="getPictureTwoFile($event)" name="blog-picture" type="file" placeholder="Picture-2" />
            <img class="picture-preview" *ngIf="this.pictureTwoDataURL" src="{{this.pictureTwoDataURL}}">
            <img class="picture-preview" *ngIf="this.editBlogForm.value.picture_2" src="{{this.editBlogForm.value.picture_2}}">

            <h4>Picture 3</h4>
            <input id="picture-3" (change)="getPictureThreeFile($event)" name="blog-picture" type="file" placeholder="Picture-3" />
            <img class="picture-preview" *ngIf="this.pictureThreeDataURL" src="{{this.pictureThreeDataURL}}">
            <img class="picture-preview" *ngIf="this.editBlogForm.value.picture_3" src="{{this.editBlogForm.value.picture_3}}">

            <h4>Picture 4</h4>
            <input id="picture-4" (change)="getPictureFourFile($event)" name="blog-picture" type="file" placeholder="Picture-4" />
            <img class="picture-preview" *ngIf="this.pictureFourDataURL" src="{{this.pictureFourDataURL}}">
            <img class="picture-preview" *ngIf="this.editBlogForm.value.picture_4" src="{{this.editBlogForm.value.picture_4}}">

            <h4>Picture 5</h4>
            <input id="picture-5" (change)="getPictureFiveFile($event)" name="blog-picture"  type="file" placeholder="Picture-5" />
            <img class="picture-preview" *ngIf="this.pictureFiveDataURL" src="{{this.pictureFiveDataURL}}">
            <img class="picture-preview" *ngIf="this.editBlogForm.value.picture_5" src="{{this.editBlogForm.value.picture_5}}">
            </div>

          <!-- Code Snippets -->
          <h2 id="code-checkbox">
            Code
            <ion-checkbox style="float: right; position: relative; top: 6px;"  (ionChange)="codeSectionChange($event)"></ion-checkbox>
          </h2>

          <!-- Code Snippets -->
          <div *ngIf="this.codeSection" id="code-section">
            <h4 style="margin-top: 1em;">Code Snippet 1</h4>
            <ion-textarea rows="10" autoGrow="true" formControlName="code_1" placeholder="Put code here:"></ion-textarea>

            <h4>Code Snippet 2</h4>
            <ion-textarea rows="10" autoGrow="true" formControlName="code_2" placeholder="Put code here:"></ion-textarea>

            <h4>Code Snippet 3</h4>
            <ion-textarea rows="10" autoGrow="true" formControlName="code_3" placeholder="Put code here:"></ion-textarea>

            <h4>Code Snippet 4</h4>
            <ion-textarea rows="10" autoGrow="true" formControlName="code_4" placeholder="Put code here:"></ion-textarea>

            <h4>Code Snippet 5</h4>
            <ion-textarea rows="10" autoGrow="true" formControlName="code_5" placeholder="Put code here:"></ion-textarea>
          </div>

          <!-- Blog Post -->
          <div style="margin-top: 5em;"></div>
          <h4>Post Content</h4>
          <div class="alert">
            <p>Add up to 5 pictures with the &lt;&lt;picture-n &gt;&gt; tag </p>
          </div>
          <div class="alert">
            <p>Add up to 5 code snippets with the &lt;&lt;code-n &gt;&gt; tag </p>
          </div>
          <div style="margin-top: 2em;"></div>
          <ion-textarea rows="30" placeholder="Post" required formControlName="post"></ion-textarea>

          <ion-button style="margin: 5em auto 10em auto;" class="green-button" id="submit-blog-button" type="submit">
            Submit
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
