ion-grid {
  background-image: url('../../../../assets/illustrations/Matrix-Background.svg');
  background-attachment: fixed;
  background-size: cover;
  --color: white;
  height: auto;
}
@media only screen and (max-width: 600px) {
  ion-grid {
    background-image: url('../../../../assets/illustrations/Matrix-Background-Mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.alert {
  background-color: #333;
  border: solid 2px #0ec6fe;
  border-radius: 5px;
  margin: 1em auto;
  padding: 0.5em;
}
form {
  padding: 1em;
}
.picture-preview {
  margin-top: 3em;
  animation: preview-slide-in 0.5s ease-in forwards;
}
@keyframes preview-slide-in {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
ion-toolbar {
  margin: 2.5em 0;
  --background: #1805199e;
  border-radius: 5px;
  padding: 0em 1em;


  ion-title {
    position: relative;
    left: -20px;
  }
  ion-buttons {
    .grey-button {
      width: 110px;
      display: block;
      margin-left: 1em;
      --background: linear-gradient(360deg, #777777 -2%, #333, #777777);
      --color: white;
      --border-radius: 50px;
      --box-shadow: none;
    }
    .gold-button {
      width: 110px;
      display: block;
      margin: 30px 0;
      --background: linear-gradient(360deg, #d8cca8 -2%, #847145, #d8cca8);
      --color: white;
      --border-radius: 50px;
      --box-shadow: none;
    }
  }
}
#pictures-checkbox,  #code-checkbox{
  border: 2px solid #3cf63c;
  width: 180px;
  padding: 0.5em;
  margin: 2em 0em;
  border-radius: 5px;
}
#pictures-section, #code-section {
  background: rgba(224, 224, 224, 0.692);
  padding: 1em;
  border-radius: 5px;
}
ion-input, ion-textarea {
  background: #fff;
  --color: #333;
  --placeholder-color: #333;
  // padding: 0 0 0 0.5em;
  margin: 1em 0;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #333;
}
ion-input {
  --padding-start: 0.5em;
  height: 50px;
}
h4 {
  color: #1d071f;
  background: #d8cca8;
  width: 200px;
  padding: 0.6em;
  border-radius: 5px;
  margin: 4em 0 2em 0;
}
.green-button {
  margin-top: 3em;
  margin-bottom: 10em;
}