.page-sub-header {
  color: white;
  margin: 1em 0;
  line-height: 1.3em;
  text-align: center;
}
form {
  background: #1805199e;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 40px #0000001f;
}
@media only screen and (max-width: 600px) {
  form {
    padding: 0.3em;
  }
}


ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h {
  --padding-start: 8px;
}

ion-item {
  margin: 1em;
  background: white;
}