<ion-header>
  <!-- Desktop -->
  <ion-toolbar class="ion-hide-md-down">
    <ion-grid>
      <ion-row>
        <ion-col size="2" routerLink="/home">Eddie</ion-col>
        <ion-col offset="6" size="1">
          <a routerLink="/about">About</a>
        </ion-col>
        <ion-col size="1">
          <a routerLink="/blog">Blog</a>
        </ion-col>
        <ion-col size="1">
          <a routerLink="/guide">Guides</a>
        </ion-col>
        <ion-col size="1">
          <a routerLink="/contact">Contact</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
