#wrapper {
  text-align: center;
  margin-top: 15%;
}
ion-button {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media only screen and (min-width: 700px) {
  #wrapper {
    padding: 2em;
  }
  ion-button {
    margin: 0 auto;
  }
}