<ion-header class="ion-no-border">
  <ion-toolbar class="navbar">
    <ion-buttons>
      <ion-button routerLink="/home" slot="start">
        <img id="logo" src="../../../assets/logo-2.svg" alt="">
        <p class="ion-hide-sm-down name">Eddie Taliaferro II</p>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <a routerLink="/about">About</a>
    </ion-buttons>
    <ion-buttons slot="primary">
      <a routerLink="/blog">Blog</a>
    </ion-buttons>
    <ion-buttons slot="primary">
      <a routerLink="/contact">Contact</a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>