<ion-header class="ion-no-border">
  <ion-toolbar class="navbar">
    <ion-buttons>
      <ion-button routerLink="/home" slot="start">
        <img id="logo" src="../../../assets/gold-logo.svg" alt="">
        <p class="ion-hide-sm-down name">Eddie Taliaferro II</p>
      </ion-button>
    </ion-buttons>
    <ion-buttons class="ion-hide-sm-down" slot="primary">
      <a routerLink="/home">Home</a>
    </ion-buttons>
    <ion-buttons class="ion-hide-sm-down" slot="primary">
      <a routerLink="/about">About</a>
    </ion-buttons>
    <ion-buttons class="ion-hide-sm-down" slot="primary">
      <a routerLink="/projects">Projects</a>
    </ion-buttons>
    <ion-buttons class="ion-hide-sm-down" slot="primary">
      <a routerLink="/blog">Blog</a>
    </ion-buttons>
    <ion-buttons class="ion-hide-sm-down" slot="primary">
      <a routerLink="/contact">Contact</a>
    </ion-buttons>
    <ion-buttons class="ion-hide-lg-up" slot="primary">
      <img src="../../../assets/icons/hanburger-menu-gold.svg" alt="Hamburger Menuo" srcset="">
    </ion-buttons>
  </ion-toolbar>
</ion-header>