<ion-header class="ion-no-border">
  <ion-toolbar class="navbar">
    <ion-buttons>
      <ion-button routerLink="/home" slot="start">
        <img id="logo" src="../../../assets/gold-logo.svg" alt="">
        <p class="ion-hide-sm-down name"></p>
      </ion-button>
    </ion-buttons>
    <ion-buttons class="ion-hide-lg-down" slot="primary">
      <a routerLink="/home" routerLinkActive="active-link">Home</a>
    </ion-buttons>
    <ion-buttons class="ion-hide-lg-down" slot="primary">
      <a routerLink="/about" routerLinkActive="active-link">About</a>
    </ion-buttons>
    <ion-buttons class="ion-hide-lg-down" slot="primary">
      <a routerLink="/projects" routerLinkActive="active-link">Projects</a>
    </ion-buttons>
    <ion-buttons class="ion-hide-lg-down" slot="primary">
      <a routerLink="/blog" routerLinkActive="active-link">Blog</a>
    </ion-buttons>
    <ion-buttons class="ion-hide-lg-down" slot="primary">
      <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </ion-buttons>
    <ion-buttons class="ion-hide-lg-down" slot="primary">
      <a routerLink="/donate" routerLinkActive="active-link">Donate</a>
    </ion-buttons>
    <ion-buttons *ngIf="this.userType === 'none'" class="ion-hide-lg-down" slot="primary">
      <a (click)="loginDetectFromBlog()" routerLinkActive="active-link">Login</a>
    </ion-buttons>
    <ion-buttons *ngIf="this.userType === 'user'" class="ion-hide-lg-down" slot="primary">
      <a routerLink="/profile" routerLinkActive="active-link">Profile</a>
    </ion-buttons>
    <ion-buttons *ngIf="this.userType === 'admin'" class="ion-hide-lg-down" slot="primary">
      <a routerLink="/admin" routerLinkActive="active-link">Admin</a>
    </ion-buttons>
    <ion-buttons *ngIf="this.userType === 'admin' || this.userType === 'user'" class="ion-hide-lg-down" slot="primary">
      <a (click)="this.logoutConfirm()" routerLinkActive="active-link">Logout</a>
    </ion-buttons>
    <!-- <ion-buttons class="ion-hide-lg-down" slot="primary">
      <a routerLink="/login" routerLinkActive="active-link">Logout</a>
    </ion-buttons> -->
    <ion-buttons class="ion-hide-lg-up" slot="end">
      <ion-button id="side-menu-button">
        <ion-menu-button style="font-size: 2em;"></ion-menu-button>
        <!-- <img src="../../../assets/icons/hanburger-menu-gold.svg" alt="Hamburger Menuo" srcset=""> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>