.danger-toast {
  font-weight: 600;
  font-size: 21px;
  width: 100%;
  --background: #FF443B;
  position: relative;
  top: 150px;
  color: white;
}
.success-toast {
  font-weight: 600;
  font-size: 21px;
  width: 100%;
  --background: #3df63d;
  position: relative;
  top: 150px;
  color: white;
}
label {
  cursor: pointer;
  display: block;
  background: linear-gradient(
360deg, #777777 -2%, #333, #777777);
  width: 264px;
  height: 38px;
  padding: 0.7em;
  margin: 2.8em auto 1em auto;
  border-radius: 100px;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
}
.page-wrapper {
  padding-top: 6em;
}
@media only screen and (max-width: 800px) {
  .page-wrapper {
    padding-top: 8em;
  }
}
form {
  background: #1805199e;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000;
}
#user-profile-picture {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.alert {
  background-color: #333;
  border: solid 2px #3cf63c;
  border-radius: 5px;
  margin: 1em auto;
  padding: 0.5em;
  p {
    font-size: 1em;
  }
}
.green-button {
  --background: linear-gradient(360deg, #3df63d -2%, #00b400, #3df63d);
}
.red-button {
  --background: linear-gradient(360deg, #D01801 -2%, #810b00, #D01801);
}
ion-item {
  margin: 1em auto;
  --highlight-color-focused: #00c400;
}
ion-item:focus {
  margin: 1em auto;
}
ion-input {
  border-radius: 10px;
}