ion-grid {
  background-image: url('../../../assets/illustrations/Matrix-Background.svg');
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  --color: white;
}
label {
  cursor: pointer;
  display: block;
  background: linear-gradient(
360deg, #777777 -2%, #333, #777777);
  width: 264px;
  height: 38px;
  padding: 0.7em;
  margin: 2.8em auto 1em auto;
  border-radius: 100px;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
}

#user-profile-picture {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
#profile-message {
  padding: 0.5em;
  margin: 2em auto;
  background: #ffffff24;
  border: 1px solid #d8cca8;
  border-radius: 5px;
}
.green-button {
  --background: linear-gradient(360deg, #3df63d -2%, #00b400, #3df63d);
}
.red-button {
  --background: linear-gradient(360deg, #D01801 -2%, #810b00, #D01801);
}
ion-item {
  margin: 1em auto;
  --highlight-color-focused: #00c400;
}
ion-item:focus {
  margin: 1em auto;
}
ion-input {
  border-radius: 10px;
}