ion-grid {
  background-image: url('../../assets/illustrations/Matrix-Background.svg');
  background-attachment: fixed;
  background-size: cover;
  --color: white;
}
@media only screen and (max-width: 600px) {
  ion-grid {
    background-image: url('../../assets/illustrations/Matrix-Background-Mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
ion-menu {
  --background: #111;
}
ion-list {
  margin: 150px 12px auto 0;
  background: none;

  ion-item {
    text-align: right;
    font-size: 1.3em;
    --background: none;

    a {
      color: white;
    }
    .selected {
      color: #00c400;
      font-weight: 600;
    }
  }
}
ion-menu {
  max-width: 200px;
}