ion-grid {
  background-image: url('../../../assets/illustrations/Matrix-Background.svg');
  background-attachment: fixed;
  background-size: cover;
  --color: white;
}
@media only screen and (max-width: 600px) {
  ion-grid {
    background-image: url('../../../assets/illustrations/Matrix-Background-Mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#footer {
  background: #0b4f3b73;
  height: 600px;
  margin-top: 4em;
  padding: 6em 0em 3em 0em;

  #footer-logo {
    width: 100px;
  }
  #footer-buttons {
    width: 150px;
    display: inline-block;
  }
  .footer-hr {
    border-top: 5px solid #D3B900;
    opacity: 0.4;
    padding: 0;
    width: 150px;
  }
  #social-media {
    margin-bottom: 1em;
  }
}
.page-sub-header {
  color: white;
  margin: 30px 0;
  line-height: 1.3em;
}

.contact-message {
  background: #FBFBFB;
  border: 1px solid #888;
  padding: 8px;
}

.contact-name {
  background: #FBFBFB;
  border: 1px solid #888;
  width: 100%;
  transition: 500ms;
  margin: 10px 0;
}

.contact-name:hover, .contact-message:hover {
  border: 2px solid #2B50C8;
  transition: 500ms;
}