<ion-content>
  <ion-grid>
    <!-- Blog Header and Search Bar -->
  <ion-row class="ion-justify-content-center" style="margin-bottom: 20px;">
    <ion-col class="ion-text-center" size-xs="11" size-sm="8" size-lg="6">
      <h1 class="page-header">Contact Me</h1>
      <h5 class="page-sub-header">Have a question? Want to do business? Just have something nice to say? Leave me a message and I will get back to when at my earliest convience.</h5>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center" style="margin-bottom: 80px;">
    <ion-col size-xs="11" size-sm="8" size-lg="6">
      <ion-input class="contact-name" type="text" placeholder="First & Last name"></ion-input>
      <ion-input class="contact-name" type="text" placeholder="Email address"></ion-input>
      <ion-textarea
        class="contact-message"
        rows="15" cols="20"
        placeholder="Please enter your message here"></ion-textarea>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center" style="margin-bottom: 80px">
    <ion-col class="ion-text-center" size-xs="11" size-sm="8" size-lg="6">
      <ion-button class="green-button" style="margin: 0 auto">
        Send
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Footer Illustration -->
  <ion-row id="footer" class="ion-justify-content-center">
    <ion-col class="ion-text-center" size="11">
      <img id="footer-logo" src="../../../assets/gold-logo.svg" alt="Footer Logo">
    </ion-col>
    <ion-col class="ion-text-center" size="11">
      <div id="footer-buttons">
        <hr class="footer-hr">
        <ion-button class="gold-button" (click)="donatePage()">
          Donate
        </ion-button>
        <ion-button class="red-button" (click)="contactPage()">
          Contact
        </ion-button>
      </div>
    <div id="social-media">
      <hr class="footer-hr">
      <ion-icon size="large" name="logo-linkedin"></ion-icon>
    </div>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
