#Smoke-cloud-1, #Smoke-cloud-2 {
  opacity: 0;
  animation: clouds-fade-in 5s ease-in infinite;
}
@keyframes clouds-fade-in {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  25% {
    opacity: 0;
    transform: translateX(0px);
  }
  55% {
    opacity: 0;
    transform: translateX(0px);
  }
  65% {
    opacity: 1;
    transform: translateX(-10px);
  }
  85% {
    opacity: 1;
    transform: translateX(0px);
  }
  95% {
    opacity: 1;
    transform: translateX(10px);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}
.alert {
  background-color: #111;
  border: solid 2px #3cf63c;
  border-radius: 5px;
  margin: 1em auto;
  padding: 0.5em;
}
form {
  background: #170517d9;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 40px #0000001f;
}
@media only screen and (max-width: 600px) {
  form {
    padding: 0.3em;
  }
}
ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h {
  --padding-start: 8px;
}
ion-input, ion-textarea {
  margin-top: 1em;
}
ion-footer {
  margin-top: 10em;
  text-align: center;
  background: linear-gradient(to left, #1b061c, #3cf63c, #1b061c);
  height: 60px;

  p {
    color: #1b061c;
    font-size: 1.5em;
    position: relative;
    top: 15px;
  }
}