<ion-content>
  <ion-grid>
    <ion-row style="margin-top: 3em;" class="ion-justify-content-center">
      <ion-col id="header-button" size="8">
        <ion-button class="green-button" (click)="addBlog()">
          <ion-icon slot="start" name="add"></ion-icon>
          Add Blog
        </ion-button>
      </ion-col>
      <ion-col size="8">
        <ion-row class="blog-post">
          <ion-col size-xs="2" size-sm="2" size-lg="2">
            <img src="../../../assets/gold-logo.svg" alt="Blog Post Thumbnail" class="blog-thumbnail">
          </ion-col>
          <ion-col size-xs="10" size-sm="10" size-lg="7" class="blog-info">
            <h5 class="blog-date">Date</h5>
            <h1 class="blog-title">Title</h1>
            <h6 class="blog-hashtags">#Hashtags</h6>
            <p style="display: inline;">Visible</p>
            <ion-toggle (ionChange)="visibleToggle($event)"></ion-toggle>
          </ion-col>
          <ion-col size-xs="11" size-sm="11" push-lg="1" size-lg="3" class="view-page-button ion-text-center">
            <ion-button class="purple-button" (click)="viewBlog()">
              View
            </ion-button>
            <ion-button class="gold-button" (click)="editBlog()">
              Edit
            </ion-button>
            <ion-button class="red-button" (click)="deleteBlog()">
              Delete
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
