<ion-content>
  <ion-grid>
    <ion-row style="margin-top: 3em;" class="ion-justify-content-center">
      <ion-col id="header-button" size-xs="11" size-sm="9" size-md="9" size-lg="9" size-xl="7">
        <ion-toolbar>
          <ion-title>Blogs</ion-title>
          <ion-buttons slot="end">
            <ion-button class="green-button" (click)="addBlog()">
              <ion-icon slot="start" name="add"></ion-icon>
              Add Blog
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="9" size-md="8" size-lg="9" size-xl="7">
        <ion-row *ngFor="let blog of allBlogs" class="blog-post">
          <ion-col size-xs="2" size-sm="2" size-lg="2">
            <img src="{{blog.thumbnail}}" alt="Blog Post Thumbnail" class="blog-thumbnail">
          </ion-col>
          <ion-col size-xs="10" size-sm="10" size-lg="7" class="blog-info">
            <h5 class="blog-date">{{blog.date}}</h5>
            <h1 class="blog-title">{{blog.title}}</h1>
            <h6 class="blog-hashtags">{{blog.hashtags}}</h6>
            <p style="display: inline;">Visible</p>
            <ion-toggle checked="{{blog.visible}}" (ionChange)="visibleToggle($event, blog._id, blog.title, blog.visible)"></ion-toggle>
          </ion-col>
          <ion-col size-xs="11" size-sm="11" size-lg="3" class="view-page-button ion-text-center">
            <!-- <ion-button class="purple-button" (click)="viewBlog()">
              View
            </ion-button> -->
            <ion-button class="gold-button" (click)="editBlog(blog._id)">
              Edit
            </ion-button>
            <ion-button class="red-button" (click)="deleteAlert(blog._id)">
              Delete
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Mobile Admin Tabbar -->
    <ion-row class="admin-mobile-tab ion-hide-lg-up">
      <ion-col class="ion-text-center" size="3">
        <a routerLink="/admin/blogs" routerLinkActive="active-link">Blogs</a>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <a routerLink="/admin/projects" routerLinkActive="active-link">Projects</a>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <a routerLink="/admin/contact" routerLinkActive="active-link">Contact</a>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <a routerLink="/admin/donate" routerLinkActive="active-link">Donate</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
