<ion-content>
  <ion-grid>
    <ion-row style="height: 100px;"></ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <h1>Donations (1)</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col style="position: relative; top: -64px;" size-lg="6">
        <div class="message">
          <h2>Name</h2>
          <p>$50</p>
          <h5>Email</h5>
          <h5>Date</h5>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
