ion-grid {
  background-image: url('../../../assets/illustrations/Matrix-Background.svg');
  background-attachment: fixed;
  background-size: cover;
  --color: white;
  height: 100vh;
}
@media only screen and (max-width: 600px) {
  ion-grid {
    background-image: url('../../../assets/illustrations/Matrix-Background.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
h1 {
  color: #3df63d;
  border-bottom: 1px solid #fff;
  padding-bottom: 1em;
}
.message {
  background: #fff;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #333;
  color: #333;
  padding: 1em;
  margin-top: 3em;

  h2 {
    color: #BC3790;
  }
  .date {
    color: #777;
  }
  .money {
    background: #3df63d;
    padding: 0.2em 0.5em;
    width: 100px;
    color: #1d071f;
    border-radius: 50px;
    text-align: center;
    float: right;
    display: inline;
    position: relative;
    top: -10px;
  }
}
.active-link {
  color: #3df63d;
  padding-left: 0.3em;
  padding-bottom: 4px;
  font-weight: 600;
  transition: 0.5s;
}