/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: Ayuthaya;
  src: url(./assets/fonts/ayuthaya-1.ttf);
}
ion-grid {
  --ion-grid-padding: 0px;
  background-image: url('./assets/illustrations/Matrix-Background.svg');
  background-attachment: fixed;
  min-height: 105vh;
  background-size: cover;
}
ion-input {
  // border: 2px solid white;
  font-size: 1.2em;
  --background: #fbfbfb47;
  --placeholder-color: white;
  --placeholder-opacity: 1;
  --padding-top: 1em;
  --padding-bottom: 1em;
  --padding-start: 1em;
}
ion-item {
  --background: none;
  ion-input {
    border: 2px solid white;
    font-size: 1.2em;
    margin: 1em 0em;
    --background: #fbfbfb47;
    --placeholder-color: white;
    --placeholder-opacity: 1;
    --padding-top: 1em;
    --padding-bottom: 1em;
    --padding-start: 1em;
  }
}
ion-textarea {
  border: 2px solid white;
  font-size: 1.2em;
  --placeholder-color: white;
  --placeholder-opacity: 1;
  --padding-top: 1em;
  --padding-bottom: 1em;
  --padding-start: 1em;
}
ion-skeleton-text {
  line-height: 20px;
  --background-rgb: 60,246,60;
}
.skeleton-text-wrapper {
  background: linear-gradient(
    118deg, #320534 1%, rgba(48, 7, 55, 0.5) 25%, #320534 50%, rgba(38, 7, 42, 0.5) 75%, #320534 100%);
  border-radius: 10px;
}

// General Custom Classes
.spacer-1x {
  padding-top: 1em;
}
.spacer-2x {
  padding-top: 2em;
}
.spacer-3x {
  padding-top: 3em;
}
.spacer-4x {
  padding-top: 4em;
}
.spacer-5x {
  padding-top: 5em;
}

// Toasts, Error Messages, Alerts
.danger-toast {
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  --background: #FF443B;
  color: white;
}
.danger-toast-mobile {
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  --background: #FF443B;
  color: white;
  margin-top: 80px;
}
.success-toast {
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  top: -100px;
  --background: #3df63d;
}
.success-toast-mobile {
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  --background: #3df63d;
  margin-top: 80px;
}
.error-message {
  color: #222;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px;
  background: rgba($color: #dedede, $alpha: 0.5);
  transition: 0.5s;
  z-index: 999;
  opacity: 0;
  border-top: 3px solid red;
  animation: slide-down 0.5s ease 0.5s forwards;
}
a {
  text-decoration: none;
}

// Ion Classes
ion-content {
  // --background: #333;
  --color: white;
}

ion-row {
  margin-bottom: 20px;
}

ion-row:last-child {
  margin-bottom: 0;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.comment-popover {
  width: 100px;
}

.my-custom-class .modal-wrapper {
  background: #071f06;
}
.admin-mobile-tab {
  height: 70px;
  padding-top: 1.4em;
  position: fixed; bottom: 0; width: 100%;; background-color: #222;
  z-index: 9999;

   a {
     color: #777;
     font-weight: 600;
   }
}
.page-header {
  font-size: 1em;
  font-family: Ayuthaya;
  // font-size:  1.4em;
  padding: 1em 1em;
  background: #d8cca852;
  background: linear-gradient(to bottom, #d8cca852 0%, #84714573 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8cca852), color-stop(100%, #847145));
  background: -webkit-linear-gradient(top, #d8cca852 0%, #84714573 100%);
  background: -moz-linear-gradient(top, #d8cca852 0%, #84714573 100%);
  background: -o-linear-gradient(top, #d8cca852 0%, #84714573 100%);
  background: -ms-linear-gradient(top, #d8cca852 0%, #84714573 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8cca852', endColorstr='#847145', GradientType=0);
  box-shadow: inset 0 1px 0 #E3BE46;
  -webkit-box-shadow: inset 0 1px 0 #E3BE46;
  -moz-box-shadow: inset 0 1px 0 #E3BE46;
  opacity: 0;
  transition: 0.5s;
  animation: slide-in-1 1s cubic-bezier(0.67, 0, 0.35, 0.05)forwards;
}

@media only screen and (max-width: 645px) {
  .page-header {
    font-size: 1em;
  }
}

@keyframes slide-in-1 {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
ion-slides {
  opacity: 0;
  animation: slide-in-2 1s cubic-bezier(0.67, 0, 0.35, 0.05) 1s forwards;
}
@keyframes slide-in-2 {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
p {
  font-family: Helvetica, Arial, sans-serif;
  font-size:  1.3em;
}

@media only screen and (max-width: 450px) {

  ion-slides {
    height: 300px;
    width: 300px;
  }
}
@media only screen and (max-width: 320px) {

  ion-slides {
    height: 200px;
    width: 200px;
  }
}

.line {
  border-top: solid 3px #d8cca8;
  margin: 20px 0;
  opacity: 0.6;
}

.gold-button {
  width: 100px;
  display: block;
  margin: 1em 0 0 0;
  --background: #d8cca894;
  --color: white;
  --border-color: #d8cca8;
  --border-width: 2px;
  --border-style: solid;
  --border-radius: 5px;
  --box-shadow: none;
}
.red-button {
  width: 100px;
  display: block;
  margin: 30px 0;
  --border-color: #D01801;
  --border-width: 2px;
  --border-style: solid;
  --border-radius: 5px;
  --background: #D0180194;
  --color: white;
  --border-radius: 5px;
  --box-shadow: none;
}
.green-mobile-button {
  height: 56px;
  width: 300px;
  margin-top: 63px;
  --background: #6bff6b61;
  font-size: 1em;
  color: white;
  border: 3px solid #3cf63c;
  border-radius: 5px;
}
.green-button {
  height: 56px;
  width: 100px;
  margin: 3em auto;
  --background: #6bff6b61;
  font-size: 1em;
  color: #3cf63c;
  border: 3px solid #3cf63c;
  border-radius: 5px;
}
.purple-button {
  width: 150px;
  display: block;
  margin: 30px 0;
  --background: linear-gradient(360deg, #1d071f -2%, #000000, #1d071f);
  --color: white;
  --border-radius: 50px;
  --box-shadow: none;
}
.grey-button {
  width: 100px;
  display: block;
  margin: 1em 0 0 0;
  --background: #77777794;
  --color: white;
  --border-color: #777777;
  --border-width: 2px;
  --border-style: solid;
  --border-radius: 5px;
  --box-shadow: none;
}
.alert-delete-button {
  color: red;
}
@keyframes slide-up {
 0% {
  transform: translateY(0px);
 }
 100% {
  transform: translateY(-5px);
 }
}

@-webkit-keyframes slide-up {
  0% {
    transform: translateY(0px);
   }
   100% {
    transform: translateY(-50px);
   }
}

@keyframes slide-down {
  0% {
   transform: translateY(-5px);
  }
  100% {
   transform: translateY(0px);
  }
 }