/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: Ayuthaya;
  src: url(./assets/fonts/ayuthaya-1.ttf);
}

ion-grid {
  --ion-grid-padding: 0px;
}

a {
  text-decoration: none;
}

ion-content {
  // --background: #333;
  --color: white;
}

ion-row {
  margin-bottom: 100px;
}

ion-row:last-child {
  margin-bottom: 0;
}

.page-header {
  margin-top: 120px;
  font-family: Ayuthaya;
  font-size:  3em;
  font-weight: 800;
}

@media only screen and (min-width: 1090px) {
    .page-header{
      padding: 0px 0px;
    }
}

@media only screen and (max-width: 450px) {
  .page-header{
    font-size: 2.2em;
  }
}

.line {
  border-top: solid 3px #E8B923;
  margin: 20px 0;
  opacity: 0.6;
}

.gold-button {
  width: 150px;
  display: block;
  margin: 30px 0;
  --background: linear-gradient(360deg, #D3B900 -2%, #87780a, #D3B900);
  --color: white;
  --border-radius: 50px;
  --box-shadow: none;
}
.red-button {
  width: 150px;
  display: block;
  margin: 30px 0;
  --background: linear-gradient(360deg, #D01801 -2%, #810b00, #D01801);
  --color: white;
  --border-radius: 50px;
  --box-shadow: none;
}
.green-button {
  width: 150px;
  display: block;
  margin: 30px 0;
  --background: linear-gradient(360deg, #0B4F3B -2%, #005c47, #0B4F3B);
  --color: white;
  --border-radius: 50px;
  --box-shadow: none;
}

@keyframes slide-up {
 0% {
  transform: translateY(0px);
 }
 100% {
  transform: translateY(-5px);
 }
}

@-webkit-keyframes slide-up {
  0% {
    transform: translateY(0px);
   }
   100% {
    transform: translateY(-50px);
   }
}

@keyframes slide-down {
  0% {
   transform: translateY(-5px);
  }
  100% {
   transform: translateY(0px);
  }
 }