<ion-content>
  <ion-grid>
    <!-- Blog Header and Search Bar -->
  <ion-row class="ion-justify-content-center" style="margin-bottom: 80px;">
    <ion-col class="ion-text-center" size-xs="11" size-sm="8" size-lg="8">
      <h1 class="page-header">Just a lil' about me.</h1>
    </ion-col>
    <ion-col class="ion-text-center" size-xs="11" size-sm="8" size-lg="6">
      <ion-slides #slider (ionSlidesDidLoad)="slidesDidLoad(slider)" [options]="slideOpts">
        <ion-slide id="slide-1">
        </ion-slide>
        <ion-slide id="slide-2">
        </ion-slide>
        <ion-slide id="slide-3">
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <!-- About Me -->
  <ion-row class="ion-justify-content-center">
    <ion-col id="about-me" size-xs="11" size-sm="10" size-md="9" size-lg="8">
      <h2 class="sub-title">How I started</h2>
      <hr class="line">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.<br><br>

      Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam loremante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Namquam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.<br><br>

      Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sitamet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sedconsequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifendsapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Crasultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuerecubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget,imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget,posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulumvolutpat pretium libero. Cras id dui. Aenean ut</p><br>
    </ion-col>
  </ion-row>

  <!-- Footer Illustration -->
  <ion-row id="footer" class="ion-justify-content-center">
    <ion-col class="ion-text-center" size="11">
      <img id="footer-logo" src="../../../assets/gold-logo.svg" alt="Footer Logo">
    </ion-col>
    <ion-col class="ion-text-center" size="11">
      <div id="footer-buttons">
        <hr class="footer-hr">
        <ion-button class="gold-button" (click)="donatePage()">
          Donate
        </ion-button>
        <ion-button class="red-button" (click)="contactPage()">
          Contact
        </ion-button>
      </div>
    <div id="social-media">
      <hr class="footer-hr">
      <ion-icon size="large" name="logo-linkedin"></ion-icon>
    </div>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
