<ion-content>
  <ion-grid>
    <!-- Blog Header and Search Bar -->
  <ion-row class="ion-justify-content-center" style="margin-bottom: 80px;">
    <ion-col class="ion-text-center" size-xs="11" size-sm="8" size-lg="6">
      <ion-slides #slider (ionSlidesDidLoad)="slidesDidLoad(slider)" [options]="slideOpts">
        <ion-slide id="slide-1">
        </ion-slide>
        <ion-slide id="slide-2">
        </ion-slide>
        <ion-slide id="slide-3">
        </ion-slide>
      </ion-slides>
    </ion-col>
    
    <ion-col class="ion-text-center" size-xs="11" size-sm="8" size-lg="8">
      <h1 class="page-header">Just a lil' about me.</h1>
    </ion-col>
  </ion-row>

  <!-- About Me -->
  <ion-row class="ion-justify-content-center">
    <ion-col id="about-me" size-xs="11" size-sm="10" size-md="9" size-lg="6">
      <h2 class="sub-title">Who is Eddie Taliaferro II?</h2>
      <hr class="line">
      <p>HI! My name is Eddie Taliaferro II. I know what you are thinking… It's pronounced <b>Tah-lee-ah-ferro</b>. If I had a nickel for every time someone mispronounced my name throughout my life, I’d realistically probably would have around $60,000. Now that we got that out of the way … who am I?<br><br>

        I am a Web Developer, Designer, Artist, Instructor, and Entrepreneur out of Detroit. The D. The 313. Motown. The Motorcity. One of the original tech hubs of the United States. If you have never been to Detroit, come pay us a visit! We don’t bite.<br><br>

        Ever since I was a child, I have always been into Technology. I was always the kid that was fixing my family members' computers. I remember being 12 years old and rewiring my basement’s phone lines just so the internet could work (I still have no idea what I was doing). I broke literally every PlayStation 2 I ever owned trying to either fix or reverse engineer them (sorry Mom). I was sort of a freelance Graphic Designer as early as age 11, and I always dreamed of being a programmer, mostly because I had never seen anyone around me do it. So it was mostly a dream.<br><br>

        Fast forward to me as a 29 year old Man, and Technology has become my life. I have a huge passion for teaching kids how to code, design, or program -- especially in the Detroit area. I can empathize with many of their upbringings, and I have a duty to pass on my knowledge so that their dreams come true -- the same dream that I once had as a kid.<br><br>

        Outside of Tech, I am an Entrepreneur, with Freelance Design and Development being just one endeavor. I am a cat dad to 2 beautiful cats - Joey, and Yin. I am a newly avid Longboarder. Pretty big fan of Sports and Professional Wrestling. Last, but not least, I love to travel!<br><br>

        Thank you for visiting my site and reading this far into my About page. I hope that this website gives you some sort of value.Peace, and Good Vibez!
      </p><br>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>

