text {
  fill: #777;
}
svg {
    box-shadow: 1px 1px 5px #000;
}
/* Pills */
#pill-wrapper {
fill: #999;
}
#blue-pill {
  animation: number-up 1s ease 1s forwards;
}
#red-pill {
animation: number-up 1s ease 1s forwards;
}

/* Number Lines */
#line-1 {
    animation:
        number-color-animation 0.5s ease 0.5s forwards,
        number-up 0.5s ease 0.5s forwards;
}
#line-2 {
    animation:
        number-color-animation 0.5s ease 1.5s forwards,
        number-up 0.5s ease 1.5s forwards;
}
#line-3 {
    animation: number-color-animation 0.5s ease 2.5s forwards, number-up 0.5s ease 2.5s forwards;
}
#line-4 {
    animation: number-color-animation 0.5s ease 3.5s forwards, number-up 0.5s ease 3.5s forwards;
}
#line-5 {
    animation: number-color-animation 0.5s ease 4.5s forwards, number-up 0.5s ease 4.5s forwards;
}
#line-6 {
    animation: number-color-animation 0.5s ease 5.5s forwards, number-up 0.5s ease 5.5s forwards;
}
#line-7 {
    animation: number-color-animation 0.5s ease 6.5s forwards, number-up 0.5s ease 6.5s forwards;
}
#line-8 {
    animation: number-color-animation 0.5s ease 7.5s forwards, number-up 0.5s ease 7.5s forwards;
}
#bug-line-start {
    fill: #777;
    animation: number-color-animation-bug 9s ease forwards;
}
#bug-line-end {
    fill: #777;
    animation: number-color-animation-bug 9s ease forwards;
}
#bug-line-middle-1 {
    fill: red;
    animation: number-up 1s ease 8.5s forwards;
}
#bug-line-middle-2 {
    fill: red;
    animation: number-up 1s ease 9.0s forwards;
}
#bug-line-middle-3 {
    fill: red;
    animation: number-up 1s ease 9.5s forwards;
}
#bug-line-middle-4 {
    fill: red;
    animation: number-up 1s ease 10s forwards;
}
#bug-fix-middle-1 {
    opacity: 0;
    fill: #3df63d;
    animation: bux-fix-up 1s ease 12.5s forwards;
}
#bug-fix-middle-2 {
    opacity: 0;
    fill: #3df63d;
    animation: bux-fix-up 1s ease 13s forwards;
}
#bug-fix-middle-3 {
    opacity: 0;
    fill: #3df63d;
    animation: bux-fix-up 1s ease 13.5s forwards;
}
#bug-fix-middle-4 {
    opacity: 0;
    fill: #3df63d;
    animation: bux-fix-up 1s ease 14s forwards;
}
#bug-messsage {
  opacity: 0;
  animation: bug-message-1 1s ease  forwards;
}
@keyframes number-color-animation {
0% {
    fill: white;
}
20% {
    fill: #E8B923;
}
50% {
    fill: #3df63d;
}
}
@keyframes number-up {
 0% {
    transform: translateY(0px);
    opacity: 1;
}
50% {
    transform: translateY(5px);
    opacity: 0.5;
}
100% {
    transform: translateY(-50px);
    opacity: 0;
}
}
@keyframes number-up {
 0% {
    transform: translateY(0px);
    opacity: 1;
}
50% {
    transform: translateY(5px);
    opacity: 0.5;
}
100% {
    transform: translateY(-50px);
    opacity: 0;
}
}
@keyframes bux-fix-up {
 0% {
    transform: translateY(0px);
    opacity: 0;
}
100% {
    transform: translateY(-50px);
    opacity: 1;
}
}

@keyframes bug-message-1 {
 0% {
    transform: translateY(500px);
    opacity: 0;
}
100% {
    transform: translateY(0px);
    opacity: 1;
}
}
@keyframes bug-message-1 {
 0% {
    transform: translateY(-50px);
    opacity: 0;
}
50% {
    transform: translateY(5px);
    opacity: 0.5;
}
100% {
    transform: translateY(50px);
    opacity: 1;
}
}


@media only screen and (max-width: 400px) {
    svg {
      height: 300px;
      width: 300px;
    }
  }
@media only screen and (min-width: 400px) {
    svg {
      height: 330px;
      width: 330px;
      margin: 5em auto 0 auto;
    }
  }
@media only screen and (min-width: 500px) {
    svg {
      height: 450px;
      width: 450px;
      margin: 5em auto 0 auto;
    }
  }
@media only screen and (min-width: 1000px) {
    svg {
      height: 500px;
      width: 500px;
      margin: 0;
    }
  }