<link rel="stylesheet" href="./header-illustration.component.scss">
<svg viewBox="0 0 500 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Header-Artwork</title>
    <defs>
        <rect id="h-path-1" x="0" y="0" width="72" height="136" rx="36"></rect>
        <rect id="h-path-3" x="0" y="0" width="72" height="136" rx="36"></rect>
        <rect id="h-path-5" x="0" y="0" width="72" height="136" rx="36"></rect>
        <rect id="h-path-7" x="0" y="0" width="72" height="136" rx="36"></rect>
    </defs>
    <style>
    </style>
    <g id="Header-Artwork" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect id="Rectangle" fill="#000" x="0" y="0" width="500" height="500"></rect>
        <text id="line-1">
            <tspan x="0" y="19">0</tspan>
            <tspan x="16.7" y="19">1</tspan>
            <tspan x="33.4" y="19">0</tspan>
            <tspan x="50.1" y="19">1</tspan>
            <tspan x="66.8" y="19">0</tspan>
            <tspan x="83.5" y="19">1</tspan>
            <tspan x="100.2" y="19">0</tspan>
            <tspan x="116.9" y="19">1</tspan>
            <tspan x="132" y="19">0</tspan>
            <tspan x="150.3" y="19">1</tspan>
            <tspan x="167" y="19">0</tspan>
            <tspan x="183.5" y="19">1</tspan>
            <tspan x="200.4" y="19">0</tspan>
            <tspan x="217.1" y="19">1</tspan>
            <tspan x="233.8" y="19">0</tspan>
            <tspan x="250.5" y="19">1</tspan>
            <tspan x="267.2" y="19">0</tspan>
            <tspan x="283.9" y="19">1</tspan>
            <tspan x="300.6" y="19">0</tspan>
            <tspan x="317.3" y="19">1</tspan>
            <tspan x="334" y="19">0</tspan>
            <tspan x="350.7" y="19">1</tspan>
            <tspan x="367.4" y="19">0</tspan>
            <tspan x="384.1" y="19">1</tspan>
            <tspan x="400.8" y="19">0</tspan>
            <tspan x="417.5" y="19">1</tspan>
            <tspan x="434.2" y="19">0</tspan>
            <tspan x="450.9" y="19">1</tspan>
            <tspan x="467.6" y="19">0</tspan>
            <tspan x="484.3" y="19">1</tspan>
        </text>
        <text id="line-2">
            <tspan x="0" y="43">0</tspan>
            <tspan x="16.7" y="43">1</tspan>
            <tspan x="33.4" y="43">0</tspan>
            <tspan x="50.1" y="43">1</tspan>
            <tspan x="66.8" y="43">0</tspan>
            <tspan x="83.5" y="43">1</tspan>
            <tspan x="100.2" y="43">0</tspan>
            <tspan x="116.9" y="43">1</tspan>
            <tspan x="132" y="43">0</tspan>
            <tspan x="150.3" y="43">1</tspan>
            <tspan x="167" y="43">0</tspan>
            <tspan x="183.5" y="43">1</tspan>
            <tspan x="200.4" y="43">0</tspan>
            <tspan x="217.1" y="43">1</tspan>
            <tspan x="233.8" y="43">0</tspan>
            <tspan x="250.5" y="43">1</tspan>
            <tspan x="267.2" y="43">0</tspan>
            <tspan x="283.9" y="43">1</tspan>
            <tspan x="300.6" y="43">0</tspan>
            <tspan x="317.3" y="43">1</tspan>
            <tspan x="334" y="43">0</tspan>
            <tspan x="350.7" y="43">1</tspan>
            <tspan x="367.4" y="43">0</tspan>
            <tspan x="384.1" y="43">1</tspan>
            <tspan x="400.8" y="43">0</tspan>
            <tspan x="417.5" y="43">1</tspan>
            <tspan x="434.2" y="43">0</tspan>
            <tspan x="450.9" y="43">1</tspan>
            <tspan x="467.6" y="43">0</tspan>
            <tspan x="484.3" y="43">1</tspan>
        </text>
        <text id="line-3">
            <tspan x="0" y="67">0</tspan>
            <tspan x="16.7" y="67">1</tspan>
            <tspan x="33.4" y="67">0</tspan>
            <tspan x="50.1" y="67">1</tspan>
            <tspan x="66.8" y="67">0</tspan>
            <tspan x="83.5" y="67">1</tspan>
            <tspan x="100.2" y="67">0</tspan>
            <tspan x="116.9" y="67">1</tspan>
            <tspan x="132" y="67">0</tspan>
            <tspan x="150.3" y="67">1</tspan>
            <tspan x="167" y="67">0</tspan>
            <tspan x="183.5" y="67">1</tspan>
            <tspan x="200.4" y="67">0</tspan>
            <tspan x="217.1" y="67">1</tspan>
            <tspan x="233.8" y="67">0</tspan>
            <tspan x="250.5" y="67">1</tspan>
            <tspan x="267.2" y="67">0</tspan>
            <tspan x="283.9" y="67">1</tspan>
            <tspan x="300.6" y="67">0</tspan>
            <tspan x="317.3" y="67">1</tspan>
            <tspan x="334" y="67">0</tspan>
            <tspan x="350.7" y="67">1</tspan>
            <tspan x="367.4" y="67">0</tspan>
            <tspan x="384.1" y="67">1</tspan>
            <tspan x="400.8" y="67">0</tspan>
            <tspan x="417.5" y="67">1</tspan>
            <tspan x="434.2" y="67">0</tspan>
            <tspan x="450.9" y="67">1</tspan>
            <tspan x="467.6" y="67">0</tspan>
            <tspan x="484.3" y="67">1</tspan>
        </text>
        <text id="line-4">
            <tspan x="0" y="91">0</tspan>
            <tspan x="16.7" y="91">1</tspan>
            <tspan x="33.4" y="91">0</tspan>
            <tspan x="50.1" y="91">1</tspan>
            <tspan x="66.8" y="91">0</tspan>
            <tspan x="83.5" y="91">1</tspan>
            <tspan x="100.2" y="91">0</tspan>
            <tspan x="116.9" y="91">1</tspan>
            <tspan x="132" y="91">0</tspan>
            <tspan x="150.3" y="91">1</tspan>
            <tspan x="167" y="91">0</tspan>
            <tspan x="183.5" y="91">1</tspan>
            <tspan x="200.4" y="91">0</tspan>
            <tspan x="217.1" y="91">1</tspan>
            <tspan x="233.8" y="91">0</tspan>
            <tspan x="250.5" y="91">1</tspan>
            <tspan x="267.2" y="91">0</tspan>
            <tspan x="283.9" y="91">1</tspan>
            <tspan x="300.6" y="91">0</tspan>
            <tspan x="317.3" y="91">1</tspan>
            <tspan x="334" y="91">0</tspan>
            <tspan x="350.7" y="91">1</tspan>
            <tspan x="367.4" y="91">0</tspan>
            <tspan x="384.1" y="91">1</tspan>
            <tspan x="400.8" y="91">0</tspan>
            <tspan x="417.5" y="91">1</tspan>
            <tspan x="434.2" y="91">0</tspan>
            <tspan x="450.9" y="91">1</tspan>
            <tspan x="467.6" y="91">0</tspan>
            <tspan x="484.3" y="91">1</tspan>
        </text>
        <text id="line-5">
            <tspan x="0" y="115">0</tspan>
            <tspan x="16.7" y="115">1</tspan>
            <tspan x="33.4" y="115">0</tspan>
            <tspan x="50.1" y="115">1</tspan>
            <tspan x="66.8" y="115">0</tspan>
            <tspan x="83.5" y="115">1</tspan>
            <tspan x="100.2" y="115">0</tspan>
            <tspan x="116.9" y="115">1</tspan>
            <tspan x="132" y="115">0</tspan>
            <tspan x="150.3" y="115">1</tspan>
            <tspan x="167" y="115">0</tspan>
            <tspan x="183.5" y="115">1</tspan>
            <tspan x="200.4" y="115">0</tspan>
            <tspan x="217.1" y="115">1</tspan>
            <tspan x="233.8" y="115">0</tspan>
            <tspan x="250.5" y="115">1</tspan>
            <tspan x="267.2" y="115">0</tspan>
            <tspan x="283.9" y="115">1</tspan>
            <tspan x="300.6" y="115">0</tspan>
            <tspan x="317.3" y="115">1</tspan>
            <tspan x="334" y="115">0</tspan>
            <tspan x="350.7" y="115">1</tspan>
            <tspan x="367.4" y="115">0</tspan>
            <tspan x="384.1" y="115">1</tspan>
            <tspan x="400.8" y="115">0</tspan>
            <tspan x="417.5" y="115">1</tspan>
            <tspan x="434.2" y="115">0</tspan>
            <tspan x="450.9" y="115">1</tspan>
            <tspan x="467.6" y="115">0</tspan>
            <tspan x="484.3" y="115">1</tspan>
        </text>
        <text id="line-6">
            <tspan x="0" y="139">0</tspan>
            <tspan x="16.7" y="139">1</tspan>
            <tspan x="33.4" y="139">0</tspan>
            <tspan x="50.1" y="139">1</tspan>
            <tspan x="66.8" y="139">0</tspan>
            <tspan x="83.5" y="139">1</tspan>
            <tspan x="100.2" y="139">0</tspan>
            <tspan x="116.9" y="139">1</tspan>
            <tspan x="132" y="139">0</tspan>
            <tspan x="150.3" y="139">1</tspan>
            <tspan x="167" y="139">0</tspan>
            <tspan x="183.5" y="139">1</tspan>
            <tspan x="200.4" y="139">0</tspan>
            <tspan x="217.1" y="139">1</tspan>
            <tspan x="233.8" y="139">0</tspan>
            <tspan x="250.5" y="139">1</tspan>
            <tspan x="267.2" y="139">0</tspan>
            <tspan x="283.9" y="139">1</tspan>
            <tspan x="300.6" y="139">0</tspan>
            <tspan x="317.3" y="139">1</tspan>
            <tspan x="334" y="139">0</tspan>
            <tspan x="350.7" y="139">1</tspan>
            <tspan x="367.4" y="139">0</tspan>
            <tspan x="384.1" y="139">1</tspan>
            <tspan x="400.8" y="139">0</tspan>
            <tspan x="417.5" y="139">1</tspan>
            <tspan x="434.2" y="139">0</tspan>
            <tspan x="450.9" y="139">1</tspan>
            <tspan x="467.6" y="139">0</tspan>
            <tspan x="484.3" y="139">1</tspan>
        </text>
        <text id="line-7">
            <tspan x="0" y="163">0</tspan>
            <tspan x="16.7" y="163">1</tspan>
            <tspan x="33.4" y="163">0</tspan>
            <tspan x="50.1" y="163">1</tspan>
            <tspan x="66.8" y="163">0</tspan>
            <tspan x="83.5" y="163">1</tspan>
            <tspan x="100.2" y="163">0</tspan>
            <tspan x="116.9" y="163">1</tspan>
            <tspan x="132" y="163">0</tspan>
            <tspan x="150.3" y="163">1</tspan>
            <tspan x="167" y="163">0</tspan>
            <tspan x="183.5" y="163">1</tspan>
            <tspan x="200.4" y="163">0</tspan>
            <tspan x="217.1" y="163">1</tspan>
            <tspan x="233.8" y="163">0</tspan>
            <tspan x="250.5" y="163">1</tspan>
            <tspan x="267.2" y="163">0</tspan>
            <tspan x="283.9" y="163">1</tspan>
            <tspan x="300.6" y="163">0</tspan>
            <tspan x="317.3" y="163">1</tspan>
            <tspan x="334" y="163">0</tspan>
            <tspan x="350.7" y="163">1</tspan>
            <tspan x="367.4" y="163">0</tspan>
            <tspan x="384.1" y="163">1</tspan>
            <tspan x="400.8" y="163">0</tspan>
            <tspan x="417.5" y="163">1</tspan>
            <tspan x="434.2" y="163">0</tspan>
            <tspan x="450.9" y="163">1</tspan>
            <tspan x="467.6" y="163">0</tspan>
            <tspan x="484.3" y="163">1</tspan>
        </text>
        <text id="line-8">
            <tspan x="0" y="187">0</tspan>
            <tspan x="16.7" y="187">1</tspan>
            <tspan x="33.4" y="187">0</tspan>
            <tspan x="50.1" y="187">1</tspan>
            <tspan x="66.8" y="187">0</tspan>
            <tspan x="83.5" y="187">1</tspan>
            <tspan x="100.2" y="187">0</tspan>
            <tspan x="116.9" y="187">1</tspan>
            <tspan x="132" y="187">0</tspan>
            <tspan x="150.3" y="187">1</tspan>
            <tspan x="167" y="187">0</tspan>
            <tspan x="183.5" y="187">1</tspan>
            <tspan x="200.4" y="187">0</tspan>
            <tspan x="217.1" y="187">1</tspan>
            <tspan x="233.8" y="187">0</tspan>
            <tspan x="250.5" y="187">1</tspan>
            <tspan x="267.2" y="187">0</tspan>
            <tspan x="283.9" y="187">1</tspan>
            <tspan x="300.6" y="187">0</tspan>
            <tspan x="317.3" y="187">1</tspan>
            <tspan x="334" y="187">0</tspan>
            <tspan x="350.7" y="187">1</tspan>
            <tspan x="367.4" y="187">0</tspan>
            <tspan x="384.1" y="187">1</tspan>
            <tspan x="400.8" y="187">0</tspan>
            <tspan x="417.5" y="187">1</tspan>
            <tspan x="434.2" y="187">0</tspan>
            <tspan x="450.9" y="187">1</tspan>
            <tspan x="467.6" y="187">0</tspan>
            <tspan x="484.3" y="187">1</tspan>
        </text>
        <!-- HOURS LATER PHOTO RIGHT AFTER BUG LINE ELEMENTS -->
        <text id="bug-line-start">
            <tspan x="0" y="211">0</tspan>
            <tspan x="16.7" y="211">1</tspan>
            <tspan x="33.4" y="211">0</tspan>
            <tspan x="50.1" y="211">1</tspan>
            <tspan x="66.8" y="211">0</tspan>
            <tspan x="83.5" y="211">1</tspan>
            <tspan x="100.2" y="211">0</tspan>
            <tspan x="116.9" y="211">1</tspan>
            <tspan x="132" y="211">0</tspan>
            <tspan x="150.3" y="211">1</tspan>
            <tspan x="167" y="211">0</tspan>
            <tspan x="183.5" y="211">1</tspan>
            <tspan x="200.4" y="211">0</tspan>
            <tspan x="217.1" y="211">1</tspan>
        </text>
        <!-- Bug (Red)-->
        <text id="bug-line-middle-1">
            <tspan x="233.8" y="211">1</tspan>
        </text>
        <text id="bug-line-middle-2">
            <tspan x="250.5" y="211">0</tspan>
        </text>
        <text id="bug-line-middle-3">
            <tspan x="267.2" y="211">1</tspan>
        </text>
        <text id="bug-line-middle-4">
            <tspan x="283.9" y="211">0</tspan>
        </text>
        <!--  -->
        <!-- Bug Fix (Green) -->
        <!-- <text id="bug-fix-middle-1">
            <tspan x="233.8" y="261">0</tspan>
        </text>
        <text id="bug-fix-middle-2">
            <tspan x="250.5" y="261">1</tspan>
        </text>
        <text id="bug-fix-middle-3">
            <tspan x="267.2" y="261">0</tspan>
        </text>
        <text id="bug-fix-middle-4">
            <tspan x="283.9" y="261">1</tspan>
        </text> -->
        <!--  -->
        <text id="bug-line-end">
            <tspan x="300.6" y="211">0</tspan>
            <tspan x="317.3" y="211">1</tspan>
            <tspan x="334" y="211">0</tspan>
            <tspan x="350.7" y="211">1</tspan>
            <tspan x="367.4" y="211">0</tspan>
            <tspan x="384.1" y="211">1</tspan>
            <tspan x="400.8" y="211">0</tspan>
            <tspan x="417.5" y="211">1</tspan>
            <tspan x="434.2" y="211">0</tspan>
            <tspan x="450.9" y="211">1</tspan>
            <tspan x="467.6" y="211">0</tspan>
            <tspan x="484.3" y="211">1</tspan>
        </text>
        <!-- Bug Line was LINE 9, so the next
          ID will be LINE 10
        -->
        <text id="line-10">
          <tspan x="0" y="235">0</tspan>
              <tspan x="16.7" y="235">1</tspan>
              <tspan x="33.4" y="235">0</tspan>
              <tspan x="50.1" y="235">1</tspan>
              <tspan x="66.8" y="235">0</tspan>
              <tspan x="83.5" y="235">1</tspan>
              <tspan x="100.2" y="235">0</tspan>
              <tspan x="116.9" y="235">1</tspan>
              <tspan x="132" y="235">0</tspan>
              <tspan x="150.3" y="235">1</tspan>
              <tspan x="167" y="235">0</tspan>
              <tspan x="183.5" y="235">1</tspan>
              <tspan x="200.4" y="235">0</tspan>
              <tspan x="217.1" y="235">1</tspan>
              <tspan x="233.8" y="235">0</tspan>
              <tspan x="250.5" y="235">1</tspan>
              <tspan x="267.2" y="235">0</tspan>
              <tspan x="283.9" y="235">1</tspan>
              <tspan x="300.6" y="235">0</tspan>
              <tspan x="317.3" y="235">1</tspan>
              <tspan x="334" y="235">0</tspan>
              <tspan x="350.7" y="235">1</tspan>
              <tspan x="367.4" y="235">0</tspan>
              <tspan x="384.1" y="235">1</tspan>
              <tspan x="400.8" y="235">0</tspan>
              <tspan x="417.5" y="235">1</tspan>
              <tspan x="434.2" y="235">0</tspan>
              <tspan x="450.9" y="235">1</tspan>
              <tspan x="467.6" y="235">0</tspan>
              <tspan x="484.3" y="235">1</tspan>
        </text>
        <text id="line-11">
          <tspan x="0" y="259">0</tspan>
          <tspan x="16.7" y="259">1</tspan>
          <tspan x="33.4" y="259">0</tspan>
          <tspan x="50.1" y="259">1</tspan>
          <tspan x="66.8" y="259">0</tspan>
          <tspan x="83.5" y="259">1</tspan>
          <tspan x="100.2" y="259">0</tspan>
          <tspan x="116.9" y="259">1</tspan>
          <tspan x="132" y="259">0</tspan>
          <tspan x="150.3" y="259">1</tspan>
          <tspan x="167" y="259">0</tspan>
          <tspan x="183.5" y="259">1</tspan>
          <tspan x="200.4" y="259">0</tspan>
          <tspan x="217.1" y="259">1</tspan>
          <tspan x="233.8" y="259">0</tspan>
          <tspan x="250.5" y="259">1</tspan>
          <tspan x="267.2" y="259">0</tspan>
          <tspan x="283.9" y="259">1</tspan>
          <tspan x="300.6" y="259">0</tspan>
          <tspan x="317.3" y="259">1</tspan>
          <tspan x="334" y="259">0</tspan>
          <tspan x="350.7" y="259">1</tspan>
          <tspan x="367.4" y="259">0</tspan>
          <tspan x="384.1" y="259">1</tspan>
          <tspan x="400.8" y="259">0</tspan>
          <tspan x="417.5" y="259">1</tspan>
          <tspan x="434.2" y="259">0</tspan>
          <tspan x="450.9" y="259">1</tspan>
          <tspan x="467.6" y="259">0</tspan>
          <tspan x="484.3" y="259">1</tspan>
        </text>
        <text id="line-12">
          <tspan x="0" y="283">0</tspan>
          <tspan x="16.7" y="283">1</tspan>
          <tspan x="33.4" y="283">0</tspan>
          <tspan x="50.1" y="283">1</tspan>
          <tspan x="66.8" y="283">0</tspan>
          <tspan x="83.5" y="283">1</tspan>
          <tspan x="100.2" y="283">0</tspan>
          <tspan x="116.9" y="283">1</tspan>
          <tspan x="132" y="283">0</tspan>
          <tspan x="150.3" y="283">1</tspan>
          <tspan x="167" y="283">0</tspan>
          <tspan x="183.5" y="283">1</tspan>
          <tspan x="200.4" y="283">0</tspan>
          <tspan x="217.1" y="283">1</tspan>
          <tspan x="233.8" y="283">0</tspan>
          <tspan x="250.5" y="283">1</tspan>
          <tspan x="267.2" y="283">0</tspan>
          <tspan x="283.9" y="283">1</tspan>
          <tspan x="300.6" y="283">0</tspan>
          <tspan x="317.3" y="283">1</tspan>
          <tspan x="334" y="283">0</tspan>
          <tspan x="350.7" y="283">1</tspan>
          <tspan x="367.4" y="283">0</tspan>
          <tspan x="384.1" y="283">1</tspan>
          <tspan x="400.8" y="283">0</tspan>
          <tspan x="417.5" y="283">1</tspan>
          <tspan x="434.2" y="283">0</tspan>
          <tspan x="450.9" y="283">1</tspan>
          <tspan x="467.6" y="283">0</tspan>
          <tspan x="484.3" y="283">1</tspan>
        </text>
        <text id="line-13">
          <tspan x="0" y="307">0</tspan>
          <tspan x="16.7" y="307">1</tspan>
          <tspan x="33.4" y="307">0</tspan>
          <tspan x="50.1" y="307">1</tspan>
          <tspan x="66.8" y="307">0</tspan>
          <tspan x="83.5" y="307">1</tspan>
          <tspan x="100.2" y="307">0</tspan>
          <tspan x="116.9" y="307">1</tspan>
          <tspan x="132" y="307">0</tspan>
          <tspan x="150.3" y="307">1</tspan>
          <tspan x="167" y="307">0</tspan>
          <tspan x="183.5" y="307">1</tspan>
          <tspan x="200.4" y="307">0</tspan>
          <tspan x="217.1" y="307">1</tspan>
          <tspan x="233.8" y="307">0</tspan>
          <tspan x="250.5" y="307">1</tspan>
          <tspan x="267.2" y="307">0</tspan>
          <tspan x="283.9" y="307">1</tspan>
          <tspan x="300.6" y="307">0</tspan>
          <tspan x="317.3" y="307">1</tspan>
          <tspan x="334" y="307">0</tspan>
          <tspan x="350.7" y="307">1</tspan>
          <tspan x="367.4" y="307">0</tspan>
          <tspan x="384.1" y="307">1</tspan>
          <tspan x="400.8" y="307">0</tspan>
          <tspan x="417.5" y="307">1</tspan>
          <tspan x="434.2" y="307">0</tspan>
          <tspan x="450.9" y="307">1</tspan>
          <tspan x="467.6" y="307">0</tspan>
          <tspan x="484.3" y="307">1</tspan>
        </text>
        <text id="line-14">
          <tspan x="0" y="331">0</tspan>
          <tspan x="16.7" y="331">1</tspan>
          <tspan x="33.4" y="331">0</tspan>
          <tspan x="50.1" y="331">1</tspan>
          <tspan x="66.8" y="331">0</tspan>
          <tspan x="83.5" y="331">1</tspan>
          <tspan x="100.2" y="331">0</tspan>
          <tspan x="116.9" y="331">1</tspan>
          <tspan x="132" y="331">0</tspan>
          <tspan x="150.3" y="331">1</tspan>
          <tspan x="167" y="331">0</tspan>
          <tspan x="183.5" y="331">1</tspan>
          <tspan x="200.4" y="331">0</tspan>
          <tspan x="217.1" y="331">1</tspan>
          <tspan x="233.8" y="331">0</tspan>
          <tspan x="250.5" y="331">1</tspan>
          <tspan x="267.2" y="331">0</tspan>
          <tspan x="283.9" y="331">1</tspan>
          <tspan x="300.6" y="331">0</tspan>
          <tspan x="317.3" y="331">1</tspan>
          <tspan x="334" y="331">0</tspan>
          <tspan x="350.7" y="331">1</tspan>
          <tspan x="367.4" y="331">0</tspan>
          <tspan x="384.1" y="331">1</tspan>
          <tspan x="400.8" y="331">0</tspan>
          <tspan x="417.5" y="331">1</tspan>
          <tspan x="434.2" y="331">0</tspan>
          <tspan x="450.9" y="331">1</tspan>
          <tspan x="467.6" y="331">0</tspan>
          <tspan x="484.3" y="331">1</tspan>
        </text>
        <text id="line-15">
          <tspan x="0" y="355">0</tspan>
          <tspan x="16.7" y="355">1</tspan>
          <tspan x="33.4" y="355">0</tspan>
          <tspan x="50.1" y="355">1</tspan>
          <tspan x="66.8" y="355">0</tspan>
          <tspan x="83.5" y="355">1</tspan>
          <tspan x="100.2" y="355">0</tspan>
          <tspan x="116.9" y="355">1</tspan>
          <tspan x="132" y="355">0</tspan>
          <tspan x="150.3" y="355">1</tspan>
          <tspan x="167" y="355">0</tspan>
          <tspan x="183.5" y="355">1</tspan>
          <tspan x="200.4" y="355">0</tspan>
          <tspan x="217.1" y="355">1</tspan>
          <tspan x="233.8" y="355">0</tspan>
          <tspan x="250.5" y="355">1</tspan>
          <tspan x="267.2" y="355">0</tspan>
          <tspan x="283.9" y="355">1</tspan>
          <tspan x="300.6" y="355">0</tspan>
          <tspan x="317.3" y="355">1</tspan>
          <tspan x="334" y="355">0</tspan>
          <tspan x="350.7" y="355">1</tspan>
          <tspan x="367.4" y="355">0</tspan>
          <tspan x="384.1" y="355">1</tspan>
          <tspan x="400.8" y="355">0</tspan>
          <tspan x="417.5" y="355">1</tspan>
          <tspan x="434.2" y="355">0</tspan>
          <tspan x="450.9" y="355">1</tspan>
          <tspan x="467.6" y="355">0</tspan>
          <tspan x="484.3" y="355">1</tspan>
        </text>
        <text id="line-16">
          <tspan x="0" y="379">0</tspan>
          <tspan x="16.7" y="379">1</tspan>
          <tspan x="33.4" y="379">0</tspan>
          <tspan x="50.1" y="379">1</tspan>
          <tspan x="66.8" y="379">0</tspan>
          <tspan x="83.5" y="379">1</tspan>
          <tspan x="100.2" y="379">0</tspan>
          <tspan x="116.9" y="379">1</tspan>
          <tspan x="132" y="379">0</tspan>
          <tspan x="150.3" y="379">1</tspan>
          <tspan x="167" y="379">0</tspan>
          <tspan x="183.5" y="379">1</tspan>
          <tspan x="200.4" y="379">0</tspan>
          <tspan x="217.1" y="379">1</tspan>
          <tspan x="233.8" y="379">0</tspan>
          <tspan x="250.5" y="379">1</tspan>
          <tspan x="267.2" y="379">0</tspan>
          <tspan x="283.9" y="379">1</tspan>
          <tspan x="300.6" y="379">0</tspan>
          <tspan x="317.3" y="379">1</tspan>
          <tspan x="334" y="379">0</tspan>
          <tspan x="350.7" y="379">1</tspan>
          <tspan x="367.4" y="379">0</tspan>
          <tspan x="384.1" y="379">1</tspan>
          <tspan x="400.8" y="379">0</tspan>
          <tspan x="417.5" y="379">1</tspan>
          <tspan x="434.2" y="379">0</tspan>
          <tspan x="450.9" y="379">1</tspan>
          <tspan x="467.6" y="379">0</tspan>
          <tspan x="484.3" y="379">1</tspan>
        </text>
        <text id="line-17">
          <tspan x="0" y="403">0</tspan>
          <tspan x="16.7" y="403">1</tspan>
          <tspan x="33.4" y="403">0</tspan>
          <tspan x="50.1" y="403">1</tspan>
          <tspan x="66.8" y="403">0</tspan>
          <tspan x="83.5" y="403">1</tspan>
          <tspan x="100.2" y="403">0</tspan>
          <tspan x="116.9" y="403">1</tspan>
          <tspan x="132" y="403">0</tspan>
          <tspan x="150.3" y="403">1</tspan>
          <tspan x="167" y="403">0</tspan>
          <tspan x="183.5" y="403">1</tspan>
          <tspan x="200.4" y="403">0</tspan>
          <tspan x="217.1" y="403">1</tspan>
          <tspan x="233.8" y="403">0</tspan>
          <tspan x="250.5" y="403">1</tspan>
          <tspan x="267.2" y="403">0</tspan>
          <tspan x="283.9" y="403">1</tspan>
          <tspan x="300.6" y="403">0</tspan>
          <tspan x="317.3" y="403">1</tspan>
          <tspan x="334" y="403">0</tspan>
          <tspan x="350.7" y="403">1</tspan>
          <tspan x="367.4" y="403">0</tspan>
          <tspan x="384.1" y="403">1</tspan>
          <tspan x="400.8" y="403">0</tspan>
          <tspan x="417.5" y="403">1</tspan>
          <tspan x="434.2" y="403">0</tspan>
          <tspan x="450.9" y="403">1</tspan>
          <tspan x="467.6" y="403">0</tspan>
          <tspan x="484.3" y="403">1</tspan>
        </text>
        <text id="line-18">
          <tspan x="0" y="427">0</tspan>
          <tspan x="16.7" y="427">1</tspan>
          <tspan x="33.4" y="427">0</tspan>
          <tspan x="50.1" y="427">1</tspan>
          <tspan x="66.8" y="427">0</tspan>
          <tspan x="83.5" y="427">1</tspan>
          <tspan x="100.2" y="427">0</tspan>
          <tspan x="116.9" y="427">1</tspan>
          <tspan x="132" y="427">0</tspan>
          <tspan x="150.3" y="427">1</tspan>
          <tspan x="167" y="427">0</tspan>
          <tspan x="183.5" y="427">1</tspan>
          <tspan x="200.4" y="427">0</tspan>
          <tspan x="217.1" y="427">1</tspan>
          <tspan x="233.8" y="427">0</tspan>
          <tspan x="250.5" y="427">1</tspan>
          <tspan x="267.2" y="427">0</tspan>
          <tspan x="283.9" y="427">1</tspan>
          <tspan x="300.6" y="427">0</tspan>
          <tspan x="317.3" y="427">1</tspan>
          <tspan x="334" y="427">0</tspan>
          <tspan x="350.7" y="427">1</tspan>
          <tspan x="367.4" y="427">0</tspan>
          <tspan x="384.1" y="427">1</tspan>
          <tspan x="400.8" y="427">0</tspan>
          <tspan x="417.5" y="427">1</tspan>
          <tspan x="434.2" y="427">0</tspan>
          <tspan x="450.9" y="427">1</tspan>
          <tspan x="467.6" y="427">0</tspan>
          <tspan x="484.3" y="427">1</tspan>
        </text>
        <text id="line-19">
          <tspan x="0" y="451">0</tspan>
          <tspan x="16.7" y="451">1</tspan>
          <tspan x="33.4" y="451">0</tspan>
          <tspan x="50.1" y="451">1</tspan>
          <tspan x="66.8" y="451">0</tspan>
          <tspan x="83.5" y="451">1</tspan>
          <tspan x="100.2" y="451">0</tspan>
          <tspan x="116.9" y="451">1</tspan>
          <tspan x="132" y="451">0</tspan>
          <tspan x="150.3" y="451">1</tspan>
          <tspan x="167" y="451">0</tspan>
          <tspan x="183.5" y="451">1</tspan>
          <tspan x="200.4" y="451">0</tspan>
          <tspan x="217.1" y="451">1</tspan>
          <tspan x="233.8" y="451">0</tspan>
          <tspan x="250.5" y="451">1</tspan>
          <tspan x="267.2" y="451">0</tspan>
          <tspan x="283.9" y="451">1</tspan>
          <tspan x="300.6" y="451">0</tspan>
          <tspan x="317.3" y="451">1</tspan>
          <tspan x="334" y="451">0</tspan>
          <tspan x="350.7" y="451">1</tspan>
          <tspan x="367.4" y="451">0</tspan>
          <tspan x="384.1" y="451">1</tspan>
          <tspan x="400.8" y="451">0</tspan>
          <tspan x="417.5" y="451">1</tspan>
          <tspan x="434.2" y="451">0</tspan>
          <tspan x="450.9" y="451">1</tspan>
          <tspan x="467.6" y="451">0</tspan>
          <tspan x="484.3" y="451">1</tspan>
        </text>
        <text id="line-20">
          <tspan x="0" y="475">0</tspan>
          <tspan x="16.7" y="475">1</tspan>
          <tspan x="33.4" y="475">0</tspan>
          <tspan x="50.1" y="475">1</tspan>
          <tspan x="66.8" y="475">0</tspan>
          <tspan x="83.5" y="475">1</tspan>
          <tspan x="100.2" y="475">0</tspan>
          <tspan x="116.9" y="475">1</tspan>
          <tspan x="132" y="475">0</tspan>
          <tspan x="150.3" y="475">1</tspan>
          <tspan x="167" y="475">0</tspan>
          <tspan x="183.5" y="475">1</tspan>
          <tspan x="200.4" y="475">0</tspan>
          <tspan x="217.1" y="475">1</tspan>
          <tspan x="233.8" y="475">0</tspan>
          <tspan x="250.5" y="475">1</tspan>
          <tspan x="267.2" y="475">0</tspan>
          <tspan x="283.9" y="475">1</tspan>
          <tspan x="300.6" y="475">0</tspan>
          <tspan x="317.3" y="475">1</tspan>
          <tspan x="334" y="475">0</tspan>
          <tspan x="350.7" y="475">1</tspan>
          <tspan x="367.4" y="475">0</tspan>
          <tspan x="384.1" y="475">1</tspan>
          <tspan x="400.8" y="475">0</tspan>
          <tspan x="417.5" y="475">1</tspan>
          <tspan x="434.2" y="475">0</tspan>
          <tspan x="450.9" y="475">1</tspan>
          <tspan x="467.6" y="475">0</tspan>
          <tspan x="484.3" y="475">1</tspan>
        </text>
        <text id="line-21">
          <tspan x="0" y="499">0</tspan>
          <tspan x="16.7" y="499">1</tspan>
          <tspan x="33.4" y="499">0</tspan>
          <tspan x="50.1" y="499">1</tspan>
          <tspan x="66.8" y="499">0</tspan>
          <tspan x="83.5" y="499">1</tspan>
          <tspan x="100.2" y="499">0</tspan>
          <tspan x="116.9" y="499">1</tspan>
          <tspan x="132" y="499">0</tspan>
          <tspan x="150.3" y="499">1</tspan>
          <tspan x="167" y="499">0</tspan>
          <tspan x="183.5" y="499">1</tspan>
          <tspan x="200.4" y="499">0</tspan>
          <tspan x="217.1" y="499">1</tspan>
          <tspan x="233.8" y="499">0</tspan>
          <tspan x="250.5" y="499">1</tspan>
          <tspan x="267.2" y="499">0</tspan>
          <tspan x="283.9" y="499">1</tspan>
          <tspan x="300.6" y="499">0</tspan>
          <tspan x="317.3" y="499">1</tspan>
          <tspan x="334" y="499">0</tspan>
          <tspan x="350.7" y="499">1</tspan>
          <tspan x="367.4" y="499">0</tspan>
          <tspan x="384.1" y="499">1</tspan>
          <tspan x="400.8" y="499">0</tspan>
          <tspan x="417.5" y="499">1</tspan>
          <tspan x="434.2" y="499">0</tspan>
          <tspan x="450.9" y="499">1</tspan>
          <tspan x="467.6" y="499">0</tspan>
          <tspan x="484.3" y="499">1</tspan>
        </text>

        <!-- Pill Wrapper -->
        <!-- Change IDs to "Red Bill" & "Blue Pill" -->
        <g id="choice-message" transform="translate(79.000000, 0.000000)">
            <g id="Group-Copy">
                <rect id="Rectangle-Copy" x="0" y="0" width="342" height="220" rx="24"></rect>
            </g>
            <g (click)="bluePill()" style="opacity: 0; transition: 0.5s;" id="blue-bill" transform="translate(75.000000, 15.000000)">
                <mask id="mask-2" fill="white">
                    <use xlink:href="#h-path-1"></use>
                </mask>
                <use id="Mask" fill="#507BFF" xlink:href="#h-path-1"></use>
                <mask id="mask-4" fill="white">
                    <use xlink:href="#h-path-3"></use>
                </mask>
                <use id="Mask-Copy" fill="#507BFF" xlink:href="#h-path-3"></use>
                <path d="M0.5,41.5 L72,41.5 C79.7800099,31.7014077 78.3300835,21.0074774 67.6502207,9.41820908 C56.9703578,-2.17105923 46.4202843,-7.7657119 36,-7.36574894 C24.6611915,-9.16514272 13.3589778,-4.46688327 2.09335901,6.72902943 C-9.17225979,17.9249421 -9.70337946,29.5152656 0.5,41.5 Z" id="Line" fill="#0600BD" mask="url(#mask-4)">
                </path>
                
                <!-- Blue Pill Animation -->
                <animateTransform           attributeName="transform"
                    type="translate"
                    time="12s"
                    delay="12s"
                    from="75 90"
                    to="75 15"
                    begin="12.5s"
                    dur="1s"
                />

                <!-- Blue Pill Animation -->
                <animateTransform           attributeName="transform"
                    type="translate"
                    time="12s"
                    delay="12s"
                    values="75 15; 75 5; 75 15;"
                    begin="0s"
                    dur="2s"
                    repeatCount="indefinite"
                />
                <set attributeName="opacity" to="1" begin="12.5s"/>
            </g>
            <g (click)="redPill()"
            style="opacity: 0; transition: 0.5s;" id="red-bill" transform="translate(196.000000, 15.000000)">
                <mask id="mask-6" fill="white">
                    <use xlink:href="#h-path-5"></use>
                </mask>
                <use id="Mask" fill="#507BFF" xlink:href="#h-path-5"></use>
                <mask id="mask-8" fill="white">
                    <use xlink:href="#h-path-7"></use>
                </mask>
                <use id="Mask-Copy" fill="#FF5050" xlink:href="#h-path-7"></use>
                <path d="M0.5,41.5 L72,41.5 C79.7800099,31.7014077 78.3300835,21.0074774 67.6502207,9.41820908 C56.9703578,-2.17105923 46.4202843,-7.7657119 36,-7.36574894 C24.6611915,-9.16514272 13.3589778,-4.46688327 2.09335901,6.72902943 C-9.17225979,17.9249421 -9.70337946,29.5152656 0.5,41.5 Z" id="Line" fill="#BD0000" mask="url(#mask-8)"></path>

                <!-- Red Pill Animation -->
                <animateTransform           attributeName="transform"
                    type="translate"
                    time="12s"
                    delay="12s"
                    from="196 90"
                    to="196 15"
                    begin="12.75s"
                    dur="1s"
                />
                <animateTransform attributeName="transform"
                    type="translate"
                    time="12s"
                    delay="12s"
                    values="196 15; 196 5; 196 15;"
                    begin="12.75s"
                    dur="2s"
                    repeatCount="indefinite"
                />
                <set attributeName="opacity" to="1" begin="0.2s"/>
            </g>
        </g>
        <g id="select-pill-message" transform="translate(18.000000, 252.000000)">
            <g id="Group" transform="translate(0.000000, 60.000000)">
                <rect id="Rectangle" stroke="#FF5050" stroke-width="7" fill="#FFF0F0" x="0" y="0" width="464" height="168" rx="6"></rect>
                <text id="You’ve-encountered-a" font-family="Helvetica" font-size="20" font-weight="normal" fill="#000000">
                    <tspan x="58.9189453" y="38">You’ve encountered a bug in the </tspan>
                    <tspan x="350.637695" y="38" text-decoration="line-through">matrix</tspan>
                    <tspan x="405.081055" y="38"> </tspan>
                    <tspan x="47.9960938" y="62">system. You have the choice either fix the </tspan>
                    <tspan x="56.3261719" y="86">bug, or become the bug and be stuck in </tspan>
                    <tspan x="44.1289062" y="110">the matrix forever. Do you take the red pill, </tspan>
                    <tspan x="164.177734" y="134">or the blue pill?</tspan>
                </text>
            </g>
            <g id="Group-2" transform="translate(112.000000, 0.000000)">
                <path d="M10,0 L225,0 C230.522847,-1.01453063e-15 235,4.4771525 235,10 L235,60 L235,60 L0,60 L0,10 C-6.76353751e-16,4.4771525 4.4771525,1.01453063e-15 10,0 Z" id="Rectangle" fill="#FF5050"></path>
                <text id="Please-select-a-pill" font-family="Helvetica-Bold, Helvetica" font-size="20" font-weight="bold" fill="#FFFFFF">
                    <tspan fill="white" x="25.6113281" y="34">Please select a pill</tspan>
                </text>
            </g>
             <!-- Pill Message Animation -->
             <animateTransform
                attributeName="transform"
                keyTimes="0 ; 0.25 ; 0.5 ; 0.75 ; 1"
                type="translate"
                time="1s"
                delay="1s"
                from="18 600"
                to="18 252"
                begin="0s"
                dur="1s"
            />
         <set attributeName="opacity" to="1" begin="0.5s"/>
        </g>
    </g>
</svg>