<ion-content>
  <ion-grid>
    <ion-row style="margin-top: 3em;" class="ion-justify-content-center">
      <ion-col id="header-button" size-xs="11" size-sm="9" size-md="8" size-lg="8">
        <ion-button class="green-button" (click)="addProject()">
          <ion-icon slot="start" name="add"></ion-icon>
          Add Project
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="9" size-md="8" size-lg="8">
        <ion-row *ngFor="let project of allProjects" class="project-post">
          <ion-col size-xs="2" size-sm="2" size-lg="2">
            <img src="{{project.thumbnail}}" alt="Project Post Thumbnail" class="project-thumbnail">
          </ion-col>
          <ion-col size-xs="10" size-sm="10" size-lg="7" class="project-info">
            <h1 class="project-title">{{project.title}}</h1>
            <h3 class="project-descrtion">{{project.description}}</h3>
            <p style="display: inline;">Visible</p>
            <ion-toggle checked="{{project.visible}}" (ionChange)="visibleToggle($event, project._id, project.title, project.visible)"></ion-toggle>
          </ion-col>
          <ion-col size-xs="11" size-sm="11" size-lg="3" class="view-page-button ion-text-center">
            <!-- <ion-button class="purple-button" (click)="viewProject()">
              View
            </ion-button> -->
            <ion-button class="gold-button" (click)="editProject(project._id)">
              Edit
            </ion-button>
            <ion-button class="red-button" (click)="deleteAlert(project._id)">
              Delete
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Mobile Admin Tabbar -->
    <ion-row class="admin-mobile-tab ion-hide-lg-up">
      <ion-col class="ion-text-center" size="3">
        <a routerLink="/admin/projects" routerLinkActive="active-link">projects</a>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <a routerLink="/admin/projects" routerLinkActive="active-link">Projects</a>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <a routerLink="/admin/contact" routerLinkActive="active-link">Contact</a>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
        <a routerLink="/admin/donate" routerLinkActive="active-link">Donate</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>